<!-- Devices : Bottom Fix Bar : Start -->
<div class="container">
    <div class="device-bottom-up">
        <div class="head">
            <span>Hi Sebastien. You've already racked up a few rewards.</span>
            <i></i>
        </div>
        <div class="content" style="display: none;">
            <span class="title">Why not use them for this purchase?</span>
            <div class="item">
                <strong>$50</strong>
                <span>de rabais a l'achat<br>de votre telephone</span>
                <small>15 day left</small>
            </div>
            <div class="item">
                <strong>$50</strong>
                <span>de rabais a l'achat<br>de votre telephone</span>
                <small>15 day left</small>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom-device">
    <div class="container">
        <div class="row py-4 content">
            <div class="col-lg-5 col-md-2 justify-content-start align-items-center d-flex">(taxes not included)</div>
            <div class="col-lg-3 d-flex justify-content-sm-center">
                <strong class="p-0">Your phone</strong>
                <span>$379</span>
                <div class="line"></div>
            </div>
            <div class="col-lg-3 d-flex justify-content-start p-0">
                <strong>Your plan</strong>
                <span>$20</span><sup>70</sup><sub>/month</sub>
            </div>
        </div>
    </div>
</div>
<!-- Devices : Bottom Fix Bar : Start -->
