<div class="form-group form-group-inline-label form-group-inline-label-top">
  <input type="text" class="form-control" placeholder="{{ placeholder|default('value')}}">
  <label class="label-top">{{ formLabel|default('Label') }}</label>
</div>
