<div class="form-group form-group-inline-label form-group-inline-label-right">
  <input type="text" class="form-control" placeholder="{{ placeholder|default('Value') }}">
  <label class="label-right"><a href="#">{{ formLabel|default('Forgot?') }}</a></label>
</div>
