<div class="form-group form-group-inline-label form-group-inline-label-left-icon">
  <input type="text" class="form-control" placeholder="value">
  <label class="label-left-icon">{% include "atoms-icon-16" %}</label>
</div>
