<div class="form-group form-group-inline-label form-group-inline-label-right-icon">
  <input type="text" class="form-control" placeholder="{{ placeholder|default('Select a country')}}">
  <label class="label-right-icon">{% include "atoms-icon-16" %}</label>
</div>
