<div class="form-group form-group-inline-label form-group-inline-label-top form-group-inline-label-right-icon">
  <input type="text" class="form-control" placeholder="value">
  <label class="label-top">Label</label>
  <label class="label-right-icon">{% include "atoms-icon-16" %}</label>
  <label class="label-right"><a href="#" class="pr-2">Forgot?</a></label>
</div>
