<div class="form-group form-group-inline-label form-group-inline-label-left-icon">
  <input type="password" class="form-control is-invalid" placeholder="Password">
  <label class="label-left-icon">{% include "atoms-icon-16" with{icon :'lock'} %}</label>
  <div class="invalid-feedback">
    Error message
  </div>
</div>