<div class="d-flex align-items-center text-danger mb-20">
  <svg class="fi fi-24">
      <use xlink:href="/images/icons/feather-sprite.svg#exclamation-mark" href="/images/icons/feather-sprite.svg#exclamation-mark"/>
  </svg>
  <p class="fs-13 mb-0 ml-15">
    <strong>Generic error message</strong>
  </p>
</div>
