<div class="form-group form-group-inline-label form-group-inline-label-left-icon">
  <input type="email" class="form-control" placeholder="Email">
  <label class="label-left-icon">{% include "atoms-icon-16" with{icon :'mail'} %}</label>
</div>