<div class="form-group form-group-inline-label form-group-inline-label-right-icon">
  <input type="text" class="form-control form-global-search" placeholder="What are you looking for?">
  <label class="label-right-icon">{% include "@atoms/05-icons/02-icon-32.twig" with { color: 'white' } %}</label>
</div>
