<div class="input-group">
  <input type="text" class="form-control form-global-search-colored" placeholder="{{ placeholder|default("I'm looking for...") }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary rounded-right" type="button">{% include "atoms-icon-24" with { icon: 'search' } %}</button>
  </div>
</div>