<div class="card p-4 text-center align-items-center mb-3">
  <h6>Here is your ID label and barcode associated</h6>
   <h6>123456789</h6>
  <img src="/images/favicon_32x32.jpg" alt="testImage" width="100">
</div>