<div class="upgrade upgrade-applicable card card-rounder hover-lifted mx-20" data-toggle="collapse" data-target=".upgradeCollectionPaneBody" aria-expanded="false">
  <img src="/images/upgrades/upgrade-add.png" class="img-fluid">
  <span class="fs-10 fs-sm-16 fs-md-20 text-muted mb--20 mb-sm-0">Add a bonus</span>
</div>
