<div class="upgrade upgrade-locked card card-rounder">
  <img src="/images/upgrades/upgrade-locked.png" class="img-fluid card-rounder">
  <span class="fs-10 fs-sm-16 fs-md-20 text-muted mb--20 mb-sm-0">Locked</span>
</div>
