<div class="container">
  <div class="col-6 mx-auto">
    <div class="text-center">
      <h4>Thank you for your order</h4>
      <p>You will receive an email confirmation shortly.</p>
    </div>
    <div class="d-flex justify-content-center pt-5">
      <div class="card card-normal d-flex flex-column justify-content-center align-items-center">
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-2 px-md-5 py-4 d-flex flex-column">
            <h5>While waiting for your SIM card to arrive, here’s what you should do:</h5>
            <div class="d-flex">
              <div class="col-2">
                {% include "atoms-icon" with{size:'48',icon:'file-text'}%}
              </div>
              <div class="col-10">
                <p class="h5 text-muted">Find your account number at this operator. We’ll need it to transfer your phone number.</p>
              </div>
            </div>
            <p class="caption"><strong>Did you know?</strong> Your account number will be featured on any invoice from this operator.</p>
          </li>
          <li class="list-group-item px-2 px-md-5 py-4 d-flex flex-column">
            <div class="d-flex">
              <div class="col-2">
                {% include "atoms-icon" with{size:'48',icon:'unlock'}%}
              </div>
              <div class="col-10">
                <p class="h5 text-muted">Make sure that your cell phone is unlocked.</p>
              </div>
            </div>
            <p class="caption">Lorem ipsum lorem ipsum about how to unlocked my phone</p>
          </li>
          <li class="list-group-item px-2 px-md-5 py-4 d-flex flex-column">
            <div class="d-flex">
              <div class="col-2">
                {% include "atoms-icon" with{size:'48',icon:'list'}%}
              </div>
              <div class="col-10">
                <p class="h5 text-muted">Verify that it isn’t on the National Blacklist.</p>
              </div>
            </div>
            <p class="caption">Lorem ipsum lorem ipsum about what is the National Blacklist and how to get out of it.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>