<footer class="footer navbar-dark" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="footer__top col-sm-3">
        {% block top %}
          {% include "components-site-name" %}
        {% endblock %}
      </div>
      <div class="footer__bottom col-sm-9">
        {% block bottom %}
          {% include "components-nav-footer" %}
        {% endblock %}
      </div>
    </div>
  </div>
</footer>
