<div class="time-navigation d-flex justify-content-center mb-md-3">
  <a href="#" class="mr-3">{% include 'atoms-icon-24' with { icon:'chevron-left' } %}</a>
  <span>jan 25 to feb 25, 2018</span>
  <span class="ml-3 ">{% include 'atoms-icon-24' with { icon:'chevron-right', color: 'light-gray' } %}</span>
</div>
