<div class="hero-section {{ herosectionbg|default('bg-gradient-light-blue') }}">
  {% include "organisms-hero-50-left-text" with {'herobgcolor': ''} %}
  {% include "organisms-hero-50-right-text" with {'herobgcolor': ''} %}
</div>
