<div class="hero-section hero-transition hero-transition-single-wave {{ herosectionbg|default('bg-fizz-red') }}">
  {% include "organisms-hero-50-left-text" with {'herobgcolor': ''} %}
  {% include "organisms-hero-50-right-text" with {'herobgcolor': ''} %}
  {% include "atoms-transition-single-wave" with {'transitionbg': 'svg-fill-fizz-red '} %}
</div>
