<div class="hero-transition-svg-container">
  <svg class="{{ transitionbg|default('svg-fill-dark-blue') }}" viewBox="0 0 672 66" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
    <path d="m673.359375-.46875h-673.609375v60.0723767c39.7359194 5.0129459 74.4561585 6.8167274 104.160717 5.4113446 40.893856-1.934771 127.374332-11.5590598 222.161585-24.6461386 100.400308-13.8620618 165.352541-16.3070445 206.8762-16.3070445 28.787496 2.3431423 75.59112 10.8303587 140.410873 25.4616493z" fill-rule="evenodd"/>
  </svg>
</div>