  <div class="hero-transition-svg-container">
    <svg id="wave-test" class="{{ transitionbg|default('svg-fill-dark-blue') }}" viewBox="0 0 1982 218" preserveAspectRatio="xMinYMin meet">
        <g transform="translate(991.000000, 109.000000) rotate(-180.000000) translate(-991.000000, -109.000000) translate(0.000000, 0.000000)" fill-rule="nonzero">
            <path d="M67.2691886,132.074127 C136.407424,86.9149617 256.679052,47.5671536 419.075594,12.4409584 C581.472135,-22.6852358 755.119695,24.9947382 917.06646,86.9149617 C1328.4959,17.7685434 1528.48568,-7.73462615 1734.04132,71.9138708 C1899.42325,135.995901 1966.71027,186.19178 1976.6773,197.943218 C1979.99779,201.858181 1981.99488,215.024198 1981.99488,216.597098 C1981.99488,216.947119 1981.99488,217.4138 1981.99488,217.997143 C1976.20079,217.997143 1976.63373,217.997143 1973.35315,217.997143 C658.070956,217.997143 0.387399323,217.997143 0.302479667,217.997143 C-1.91063831e-12,217.209564 0.0558826872,215.261309 0.0539847551,214.719147 C0.0138037204,203.241041 -1.86904647,177.233291 67.2691886,132.074127 Z" id="Path"></path>
        </g>
    </svg>
  </div>