<div class="hero-transition-svg-container">
  <svg class="position-relative {{ transitionbg|default('svg-fill-dark-blue') }}" viewBox="0 0 1998 231" preserveAspectRatio="xMinYMin meet">
    <path d="M1.03385061,230.805882 L1998.79562,230.805882 L1998.79562,170.385662 C1665.83532,56.816544 1332.87503,0.0319852941 999.914734,0.0319852941 C666.954439,0.0319852941 333.994145,56.816544 1.03385061,170.385662 L1.03385061,230.805882 Z" id="Path"></path>
  </svg>
</div>
  

