<div class="hero-transition-svg-container">
  <svg class="{{ transitionbg|default('svg-fill-dark-blue') }}" viewBox="0 0 439 47" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
    <path  d="m0 6.69v40.31h439.43v-34.43s-16.71-2.67-38.62 2.62-31.75 10.83-61 9.32c-28.34-1.51-30.21-5.51-49.35-5.51-42.11 0-54.58 11.08-96.9 11.08s-50-20-101.91-27.51-91.65 4.12-91.65 4.12z" fill-rule="evenodd"/>
  </svg>
</div>