<div class="hero-transition-svg-container">
  <svg class="{{ transitionbg|default('svg-fill-dark-blue') }}" viewBox="0 0 439 69" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
    <path  d="m0 2.82v67h439.43v-35.26s-22 0-42.11 7.93-41.5 9.16-61 .61-49.38-24.72-82.32-24.35c-44.83.5-47.8 8.52-84.11 7.78s-77.89-36.68-169.89-23.71z" fill-rule="evenodd"/>
  </svg>
</div>