<div class="hero-transition-svg-container">
  <svg class="{{ transitionbg|default('svg-fill-dark-blue') }}" viewBox="0 0 439 51" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
    <path  d="m0 0v51h439.43v-24.14s-12.62 2.95-55.06 2.95-92.4-18-144-18-77.85 14-116.57 14c-41.22-.02-72.8-25.81-123.8-25.81z" fill-rule="evenodd"/>
  </svg>
</div>