<div class="hero-transition-svg-container">
  <svg class="{{ transitionbg|default('svg-fill-dark-blue') }}" viewBox="0 0 439 71" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
    <path  d="m0 56.76v15.13h439.43v-40.95s-24.75-30.94-93.36-30.94c-76.85 0-86.07 41.64-145.46 41.64-63.33 0-68.28-15.28-116.46-15.28-61.99 0-84.15 30.4-84.15 30.4z" fill-rule="evenodd"/>
  </svg>
</div>