.social-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 100%;
}
.color-facebook{
    background: #3b5998;
}
.color-fb-messenger{
    background: #0084ff;
}
.color-linkedin{
    background: #0077b5;
}
.color-gmail{
    background: #ea4335;
}
.color-outlook{
    background: #00a1f1;
}

@media only screen and (max-width: 1600px){
    .social-box strong{
        font-size: 85%;
    }
    .social-icon{
        width: 48px;
        height: 48px;
    }
}
