.receipt-for-print {
  margin: 0 auto;
  max-width: 860px;
  background: #FFFFFF;
}

.receipt-approved-grey {
    background: #F5F5FA;
}

.tax-label {
    display: inline-block;
    padding: 5px 30px;
    color: #73737d;
    background: #F5F5FA;
    border-radius: 10px;
}
