{% include "organisms-top-navigation-logged-in-with-step-progress" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-3 dashboard-sidebar bg-white">
      <div class="dashboard-sidebar-nav">
        
        <div class="dashboard-user-name bg-lightest-gray d-none d-md-block px-md-5 py-3">
          <h4>John D.</h4>
        </div>
        
        {% include 'organisms-dashboard-main-nav' %}
        <div class="mx-4">
          {% include 'organisms-loyaltyLevel' %}
        </div>
        {% include 'organisms-dashboard-actions' %}
      </div>
    </div>
    
    <div class="col-md-8 col-lg-9 ml-sm-auto py-5 px-md-5 dashboard-content">
        {% block dashboardContent %}{% endblock %}
    </div>
  </div>
</div>  