{% extends "organisms-dashboard-container" %}

{% block dashboardContent %}

  <div class="row justify-content-center">
    <div class="col col-lg-10 col-xl-8 px-3 mb-3">
      <div class="mb-3">
        <h4>Service address</h4>
      </div>
      <div class="card p-3 p-lg-4 p-md-3">
        <span class="small">5631 Boul Saint-Michel</span>
        <span class="small">Montreal QC H1Y 2E3</span>
        <span class="small">Canada</span>
      </div>
    </div>
  </div>
  
  {% include 'organisms-installation-services' %}

{% endblock %}