{% extends "organisms-dashboard-container" %}

{% block dashboardContent %}

  <div class="row">
    <div class="mb-3 col-12 col-md-8 offset-md-2 px-3">
      <div class="mb-3 col-12 col-lg-8 offset-lg-2 px-3 text-center">
      <h3>You have just unsubscribed succesfully</h3>
      <p>You will recieve an email confirmation shortly</p>
      </div>
    </div>
  </div>

<div class="row">

  <div class="col-12 text-center mb-3">
    <h5>follow the next step to return us youe BM gateway</h5>
  </div>

  <div class="col-12 col-md-10 offset-md-1">
    <div class="row">

      <div class="col-12 col-lg-4 text-left text-md-center mb-5">
        <div class="row">
          <div class="col-3 col-md-12">
            <img src="/images/favicon_32x32.jpg" alt="testImage" width="100" class="img-fluid mb-2">
          </div>
          <div class="col-9 col-md-12">
            <h5>Boxing your gateway</h5>
            <p>First, find a box that you can send your gateway router in</p>
          </div>
          <div class="text-center m-auto col-12">
            {% include 'atoms-button' with{ buttonLabel:'Cancel',buttonSize:'l', classes:'btn-block btn-small'} %}
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-left text-md-center mb-5">
        <div class="row">
          <div class="col-3 col-md-12">
            <img src="/images/favicon_32x32.jpg" alt="testImage" width="100" class="img-fluid mb-2">
          </div>
          <div class="col-9 col-md-12">
            <h5>Boxing your gateway</h5>
            <p>First, find a box that you can send your gateway router in</p>
          </div>
          <div class="text-center m-auto col-12">
            {% include 'organisms-barcode' %}
          </div>
          <div class="text-center m-auto col-12">
            {% include 'atoms-button' with{ buttonLabel:'Cancel',buttonSize:'l', classes:'btn-block btn-small'} %}
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-left text-md-center mb-5">
        <div class="row">
          <div class="col-3 col-md-12">
            <img src="/images/favicon_32x32.jpg" alt="testImage" width="100" class="img-fluid mb-2">
          </div>
          <div class="col-9 col-md-12">
            <h5>Boxing your gateway</h5>
            <p>First, find a box that you can send your gateway router in</p>
          </div>
          <div class="text-center m-auto col-12">
            {% include 'atoms-button' with{ buttonLabel:'Cancel',buttonSize:'l', classes:'btn-block btn-small'} %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12 border-top text-center py-3">
    <p class="text-danger">You will need to return your Gateway routerbefore 15 days after unsubscribing</p>
    <p>You can view the details of your billing at your <a>Billing history page.</a></p>
  </div>

</div>


{% endblock %}