<nav id="main-menu" class="navbar navbar-center navbar-expand-lg">
  <ul class="navbar-nav list-inline text-center mr-auto ml-auto">
    {% block content %}
    
    {% for item in items %}
    {{ dump() }}
      <li class="nav-item">
        <a href="#">DENEME!</a>
        {% include "@atoms/04-anchor-tags/04-link-main-nav.twig" with { "title": item.title, "url": item.url } %}

      </li>
    {% endfor %}
    {% endblock %}
  </ul>
</nav>