<ul class="list-inline">
  <li class="list-inline-item"><i class="icon icon-24 icon-placeholder"></i></li>
  <li class="list-inline-item"><i class="icon icon-24 icon-placeholder"></i></li>
  <li class="list-inline-item"><i class="icon icon-24 icon-placeholder"></i></li>
  <li class="list-inline-item"><i class="icon icon-24 icon-placeholder"></i></li>
</ul>