<li class="list-group-item p-0">
  <input class="sr-only" type="radio" id="optionContact2" name="giftContacts">
  <label class="w-100 px-3 py-4 mb-0" for="optionContact2">
    <div class="d-flex justify-content-between">
      <div>
        Marie-Pierre Primeau<br>
        <span class="text-muted">{{ contactMethod|default('438 902 6556') }}</span>
      </div>
      <div>
        <small class="text-muted">{{ relation|default('family') }}</small>
      </div>
    </div>
  </label>  
</li>