<div class="col-12 text-center d-flex mb-4">
  <a class="mr-3 mt-auto mb-auto swipeLeft btn btn-sm p-1 d-none d-md-block arrow-chart">{% include 'atoms-icon-24' with { icon:'chevron-left' } %}</a>
  <div class="card chart-card">
    {% include 'atoms-usage-month' %}
  </div>
  <a class="ml-3 mt-auto mb-auto swipeRight btn btn-sm p-1 d-none d-md-block arrow-chart">{% include 'atoms-icon-24' with { icon:'chevron-right' } %}</a>
</div>