<div class="gauge-solid gauge-wrapper-ph" data-gauge-percent=0>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="gauge-meter svg-responsive" viewbox="0 -50 350 235" preserveAspectRatio="xMinYMid meet">

    <circle class="gauge-outline" r="150" cx="50%" cy="50%"
      stroke="#DDDEE9" 
      stroke-width="20"
      stroke-dasharray="565, 943"
      stroke-linecap="round"
      transform="rotate(162 175 117.5)"
      fill="none">
    </circle>
    
    <g class="needle-path">
      <path d="M4.93034024,7.34573371 C4.93034024,14.5317171 3.50273114,45.8390811 0.647512946,101.267826 C1.26301736,107.547897 3.64804087,110.687933 7.80258348,110.687933 C11.9571261,110.687933 14.3421496,107.547897 14.957654,101.267826 L12.5324454,7.34573371 C12.1166651,2.90720015 10.9405937,0.687933377 9.00423101,0.687933377 C5.30215385,0.687933377 4.93034024,6.14785372 4.93034024,7.34573371 Z" fill="#DDDEE9"></path>
    </g>
    
  </svg>
</div>