<div class="gauge-solid gauge-wrapper-ph" data-gauge-percent=1 }}>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="gauge-meter svg-responsive" viewbox="0 -50 350 235" preserveAspectRatio="xMinYMid meet">
    
    <circle class="gauge-outline" r="150" cx="50%" cy="50%"
      stroke="#DDDEE9" 
      stroke-width="20"
      stroke-dasharray="565, 943"
      stroke-linecap="round"
      transform="rotate(162 175 117.5)"
      fill="none">
    </circle>

    <circle class="gauge-fill" r="150" cx="50%" cy="50%"
      stroke-width="20" 
      fill-rule="evenodd"
      stroke="#00d672"
      stroke-dasharray="0, 943"
      transform="rotate(162 175 117.5)"
      fill="none">
    </circle>

    <g transform="translate(75, 60) scale(0.15)" class="needle-path-green">
        <path d="M963.3,576.1 C886.1,566.8 812.9,529.4 731.6,457.7 C711.8,440.3 698.2,427.4 665.9,395.3 C642.9,372.4 639.5,369.5 637.8,370.4 C636.7,371 627.8,379.7 617.9,389.8 C503.5,506.9 429.3,556.2 343.4,572 C287.4,582.3 229.3,575.8 176.5,553.4 C88,515.8 23.2,436.7 5.1,344.1 C1,323.4 0,312.3 0,287.6 C0,248.4 5.4,215.7 17.6,181.1 C51.4,84.7 132.1,18.4 234,3.2 C297.4,-6.3 367.7,5.8 429.7,36.7 C454,48.8 474.5,61.7 500,80.8 C532.1,104.7 555.6,125.8 606.1,175.8 C623.7,193.3 638.8,207.6 639.5,207.6 C640.3,207.6 647.2,201 654.9,193 C672.1,175.1 714.1,134.6 731.9,118.7 C813.9,45.6 876.1,13.2 954.5,2.4 C960.3,1.6 973.9,1.2 989.5,1.2 C1010.8,1.2 1017.4,1.6 1029.5,3.5 C1094.5,13.5 1150,41.4 1195.4,86.7 C1241.1,132.4 1269.6,191.2 1277.7,256.6 C1279.6,272.1 1279.3,312.9 1277.1,328.6 C1269.3,384.7 1249.6,435.3 1220.3,474.3 C1210.8,487.1 1190.9,507.5 1177.8,517.8 C1141.4,546.8 1094.1,566.4 1040,574.8 C1022.8,577.4 980.6,578.2 963.3,576.1 Z M330.2,456.2 C363.8,449.1 397.8,432.9 431.2,408.1 C443.1,399.3 460.9,384.7 472.5,374.2 C487.1,360.9 560.5,289.2 560.5,288.2 C560.5,286.6 496.5,223.3 481,209.4 C431.8,165.6 386.3,137.9 343.5,125.5 C323.3,119.7 311.4,118.1 287,118.1 C268,118.1 263.5,118.4 253.6,120.4 C194.6,132.3 151.4,170.8 132.6,228.1 C116.6,277 119.6,323.4 141.6,366.6 C166.8,416.2 212.2,449 268.2,458.1 C274.5,459.1 282.8,459.4 297.5,459.1 C314.7,458.8 320,458.3 330.2,456.2 Z M1016.5,458.1 C1049.2,453.5 1077,441 1100.6,420.3 C1144.5,381.9 1165.5,314 1152.3,252.6 C1138.9,190.1 1090.8,139.5 1029.4,123.1 C1014.6,119.2 1001.5,117.6 984,117.6 C953,117.6 928.1,123.8 897,139.1 C864.3,155.1 832.8,178.2 793.3,215.2 C768.5,238.4 719,287.1 718.7,288.6 C718.4,290.2 765.3,338.1 785.5,356.7 C853.7,419.7 907.6,450 965.5,458.1 C978.5,459.9 1003.7,459.9 1016.5,458.1 Z" fill="#DDDEE9"></path>
    </g>
    
  </svg>
</div>