<div class="d-flex justify-content-around">
  <a href="#">
    {% include 'atoms-circle-icon-32' with { circleColor: 'facebook', fillColor: 'white', icon: 'facebook'} %}
  </a>
  <a href="#">
    {% include 'atoms-circle-icon-32' with { circleColor: 'instagram', color: 'white', icon: 'instagram'} %}
  </a>
  <a href="#">
    {% include 'atoms-circle-icon-32' with { circleColor: 'linkedin', fillColor: 'white', icon: 'linkedin'} %}
  </a>
  <a href="#">
    {% include 'atoms-circle-icon-32' with { circleColor: 'twitter', fillColor: 'white', icon: 'twitter'} %}
  </a>
</div>