<div class="progress progress-activation">
  <div class="progress-bar progress-bar-activation" 
    role="activation-progress" 
    aria-valuenow="{{ progressValue|default(1) }}" 
    aria-valuemin="1" 
    aria-valuemax="{{ progressMax|default(6) }}">
  </div>
</div>