<h4 data-form-scroll="yes">Summary</h4>

<ul class="list-group list-group-flush price-summary">
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description"><strong>Your monthly plan</strong></div>
    <div class="item-price">$35</div>
  </li>  
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description">Subset 1</div>
    <div class="item-price">$35</div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description">Subset 2</div>
    <div class="item-price">$35</div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description">Your phone number (one time fee)</div>
    <div class="item-price">$10</div>
  </li>
</ul>

