<ul class="list-group list-group-flush price-summary price-summary-tax">
  <li class="list-group-item d-flex">
    <div class="item-description text-muted w-100">Subtotal<span class="dotted"></span></div>
    <div class="item-price flex-shrink-1">$55.00</div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description text-muted mx-4 w-100">GST<span class="dotted"></span></div>
    <div class="item-price flex-shrink-1">$3.00</div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description text-muted mx-4 w-100">QST<span class="dotted"></span></div>
    <div class="item-price flex-shrink-1">$2.00</div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="text-muted w-100">Total</div>
    <div class="item-price flex-shrink-1">$77.00</div>
  </li>
</ul>

