<header class="header navbar-dark" role="banner">
  <div class="container">
    <div class="cn-nav">
      {% block header %}
        {% include "components-nav-main" %}
      {% endblock %}
    </div>
  </div>
</header>
