<div class="one-speed text-center px-3">
  <h5 class="mb-4">{{ title|default('Download') }}</h5>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <h6 class="text-green mr-1 mb-0">{{ number|default('X') }}</h6>
    <p class="text-green mb-0">{{ unit|default('Mbps') }}</p>
  </div>
</div>
