<div class="card card-normal mb-50">
  <div class="card-section card-header user-plan px-3 px-md-5 pt-4">
    <div class="d-flex flex-row align-items-start align-items-sm-center justify-content-between">
      <div>
        <h5 class="icon-custom-laptop">Internet</h5>
        <p class="sm-smaller-p text-muted">(514) 423-4567</p>
      </div>
      <div class="mb-md-40 pl-xl-50 pl-lg-20">
        <div class="d-flex flex-row align-items-center">
          <h5>$35.00</h5>
          <p class="sm-smaller-p text-muted mb-10 pl-1">/ month + tx</p>
        </div>
      </div>
      <div class="d-none d-lg-flex">
        {% include 'atoms-button-outline' with{ buttonLabel:'Invoices',buttonSize:'xl'} %}
        {% include 'atoms-button' with{ buttonLabel:'Manage',buttonSize:'xl', classes:'ml-3 ml-xl-4'} %}
      </div>
    </div>
  </div>

  <div class="card-section card-body user-plan d-flex flex-column flex-xl-row justify-content-between px-2 px-md-5">
    <div class="col-12 col-xl-8 py-4">
      <h4 class="d-inline-block alert-numbers">0</h4>
      <p class="text-muted d-inline-block">/ Gigs of data</p>
      {% include 'atoms-progress-slider' with { gradientcolor:'green', progressValue: 0, direction:'descending' } %}
      <div class="d-flex justify-content-start mt-4">
        {% include 'atoms-button-link' with { buttonLabel:'Usage', active:'active', classes:'mr-10-percent' } %}
      </div>
    </div>
    <div class="internet-speed p-3 p-xl-4">
      {% include 'molecule-internet-speed'  with { number:'120' } %}
      {% include 'molecule-internet-speed'  with { number:'20', title: 'Upload' } %}
    </div>
  </div>

  <div class="card-section card-body px-2 px-md-5 pb-10 d-flex d-lg-none justify-content-center align-items-center">
    {% include 'atoms-button' with{ buttonLabel:'Manage',buttonSize:'xl', classes:'mx-2'} %}
    {% include 'atoms-button-outline' with{ buttonLabel:'Invoices',buttonSize:'xl', classes:'mx-2'} %}
  </div>

  <div class="card-section card-body d-flex flex-column py-30 px-2 px-md-5">
    <div class="col-lg-8 mx-auto text-center">
      <h5 class="d-inline-block text-red">Service interrupted</h5>
      <p class="text-muted">Please check your payement informations</p>
      {% include 'atoms-button' with{ buttonLabel:'Pay', buttonColor:'red', classes: 'text-white mb-0', buttonSize:'xl'} %}
    </div>
  </div>

</div>
