<div class="spot spot-small">
  {% include "atoms-spot" %}
  <div class="spot-content text-center">
    <h6>{{ title|default('This is a small spot') }}</h6>
    <p>{{ text|default('With some more info') }}</p>
    <p><a href="#">How do I subscribe to Fizz?</a></p>
    <p><a href="#">How long will my SIM card take to arrive?</a></p>
    <p><a href="#">What can I do to solve transferring number problems?</a></p>
  </div>
</div>
