<div class="badge">
  <div class="col-12">
    <div class="spot spot-medium">
      {% include "atoms-spot" %}
    </div>
  </div>
  <div class="row">
    <div class="col-6 spot spot-small">
      {% include "atoms-spot" %}
    </div>
    <div class="col-6 spot spot-small">
      {% include "atoms-spot" %}
    </div>
  </div>
</div>