<form class="scrollbar scroll-green pr-3">
  <ul class="list-group list-group-flush">
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
    {% include 'molecule-contacts-list-item' with { contactMethod: 'marie_p@gmail.com', relation: ' ' } %}
  </ul>
</form>