/** project scss vars **/
$dark_bg : #333333;
$text_black: $dark_bg; 
$link_dark_color: #000;
$link_color: #ed1c71;
$link_h_color: #d82f74;
$white_bg: #fff;
$text_white: $white_bg;
$grey_color: #ccc; 
$light_blue_bg: #8fa4e0;