{% include "organisms-top-navigation-logged-in-fixed-top" %}
<div class="bg-fizz-light-blue hero-transition-transition-wave-type-a position-relative">

    <div class="container pt-100 pb-100">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="https://fakeimg.pl/315x315/d8d8d8/" alt="" class="img-fluid rounded-circle">
            </div>
            <div class="col-lg-5 text-center pb-120">
                <h3 class="pt-30">Thank you Sébastien<br>Your order is confirmed!</h3>
                <p>Your order number is 0001</p>
                <p>You will receive an email confirmation shortly.</p>
                <p><strong>Estimated Delivery date:</strong> 2019/09/04</p>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                        <div class="d-flex">
                            <span>Follow my order</span>
                            <svg class="fi fi-16 fi- ">
                                <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-transition-svg-container">
        <svg class="svg-fill-fizz-white" viewBox="0 0 439 47" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
            <path d="m0 6.69v40.31h439.43v-34.43s-16.71-2.67-38.62 2.62-31.75 10.83-61 9.32c-28.34-1.51-30.21-5.51-49.35-5.51-42.11 0-54.58 11.08-96.9 11.08s-50-20-101.91-27.51-91.65 4.12-91.65 4.12z" fill-rule="evenodd"></path>
        </svg>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center pt-5 mt-5 pl-5 ml-5 pr-5">
            <h5>Thanks to your purchase, you have just accumulated</h5>
            <h4 class="py-10">1137 points</h4>
            <p>They will be added to your My Rewards program
                <br>within a month.</p>
        </div>
        <div class="col-lg-4 pt-5 text-center">
            <img src="https://fakeimg.pl/160x160/d8d8d8/" alt="" class="img-fluid rounded-circle">
        </div>
    </div>
</div>