{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70 pt-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Your phone</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-2 pt-20 pb-20"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="40" /></div>
                        <div class="col-lg-8 text-left">
                            <h6>Apple iPhone 7</h6>
                            <p class="text-muted">Jet Black
                                <br />32 GB</p>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray">
                                <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                            </svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Your plan</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-10 text-left">
                            <h5 class="pt-3">(514) 456-7890</h5>
                            <p class="text-muted">6 GB - Unlimited text messaging - Unlimited minutes</p>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray">
                                <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                            </svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Fizz SIM card</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-10 text-left">
                            <h5 class="pt-3">No SIM card ordered</h5>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray">
                                <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                            </svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- Phone Options : End -->

<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">






            <h4>Payment option</h4>




            <div class="row">
                <div class="col-lg-6">
                    <div class="form-radio-block d-flex my-2 my-md-3">
                        <input class="sr-only" type="radio" name="radioOptions" id="radio1" value="option1">
                        <label class="align-self-center w-100 py-3 py-sm-5 text-center" for="radio1">
                            <strong>Pay now</strong>
                            <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
                          <svg class="fi fi-16 fi-white">
                            <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
                          </svg>
                        </span>
                        </label>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="form-radio-block d-flex my-2 my-md-3">
                        <input class="sr-only" type="radio" name="radioOptions" id="radio1" value="option1">
                        <label class="align-self-center w-100 py-3 py-sm-5 text-center" for="radio1">
                            <strong>By instalments</strong>
                            <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
                          <svg class="fi fi-16 fi-white">
                            <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
                          </svg>
                        </span>
                        </label>
                    </div>
                    <p class="text-muted text-center">If you opt for instalments, you'll be redirected to the <b>PayBright</b> site to review and submit your order.</p>

                </div>



            </div>








                <div class="text-center mt-5 mb-5">
                    <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                        <div class="d-flex">
                            <span>Save</span>
                            <svg class="fi fi-16 fi- ">
                                <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </button>
                </div>




        </div>
    </div>







</div>
</div>
</div>
