{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70 pt-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Your phone</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-lg-2 pt-20 pb-20"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="40" /></div>
                    <div class="col-lg-8 text-left">
                        <h6>Apple iPhone 7</h6>
                        <p class="text-muted">Jet Black<br />32 GB</p>
                    </div>
                    <div class="col-lg-2 btn-form-collapse-edit">
                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                        <span class="text-uppercase d-block">EDIT</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone Options : End -->






<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

        <div class="row">
            <div class="col">
                <h4 data-form-scroll="no">Create a new plan</h4>
            </div>

            <div class="col pt-1">
                <a class="" href="#" title="#">Already a Fizz member? Log in.</a>
            </div>
        </div>




<p class="help-box-yellow">Your payment cycle will start once your SIM card is activated.</p>







            <div class="my-50">
                <div class="progress-input-container">
                    <h4 class="d-inline-block">1</h4>
                    <p class="text-muted d-inline-block">GB of data</p>
                    <div class="d-flex">
                        <div class="progress ">
                            <div class="progress-bar progress-bar-ascending gradient-green-gauge" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10" data-increment-step="1" style="width: 75%;">
                            </div>
                        </div>
                        <div class="ml-auto">
                            <button class="circle-button circle-" data-action="subtract">
                                <svg class="fi fi-24 fi-">
                                    <use xlink:href="/images/icons/feather-sprite.svg#minus" href="/images/icons/feather-sprite.svg#minus"></use>
                                </svg>
                            </button>
                            <button class="circle-button circle-" data-action="add">
                                <svg class="fi fi-24 fi-">
                                    <use xlink:href="/images/icons/feather-sprite.svg#plus" href="/images/icons/feather-sprite.svg#plus"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-50">

                <div class="progress-input-container">
                    <h4 class="d-inline-block">Unlimited</h4>
                    <p class="text-muted d-inline-block">text messaging</p>
                    <div class="d-flex">
                        <div class="progress ">
                            <div class="progress-bar progress-bar-ascending gradient-green-gauge" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" data-increment-step="1" style="width: 100%;">
                            </div>
                        </div>
                        <div class="toggle-container ml-auto align-self-center">
                            <input type="checkbox" name="721183778" id="721183778" class="toggle" checked="">
                            <label for="721183778" class="toggle-label" data-off="no" data-on="yes"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-50">
                <div class="progress-input-container">
                    <h4 class="d-inline-block">Unlimited</h4>
                    <p class="text-muted d-inline-block">minutes</p>
                    <div class="d-flex">
                        <div class="progress ">
                            <div class="progress-bar progress-bar-ascending gradient-green-gauge" role="progressbar" aria-valuenow="300" aria-valuemin="0" aria-valuemax="1000" data-increment-step="100" style="width: 30%;">
                            </div>
                        </div>
                        <div class="ml-auto">
                            <button class="circle-button circle-" data-action="subtract">
                                <svg class="fi fi-24 fi-">
                                    <use xlink:href="/images/icons/feather-sprite.svg#minus" href="/images/icons/feather-sprite.svg#minus"></use>
                                </svg>
                            </button>
                            <button class="circle-button circle-" data-action="add">
                                <svg class="fi fi-24 fi-">
                                    <use xlink:href="/images/icons/feather-sprite.svg#plus" href="/images/icons/feather-sprite.svg#plus"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-50">
                <h4>Choose your coverage<span class="tooltip-container ml-1" data-toggle="tooltip" data-html="true" data-placement="top" title="aaaaa">
  <svg class="fi fi-24 fi-white">
  <use xlink:href="/images/icons/feather-sprite.svg#help-circle" href="/images/icons/feather-sprite.svg#help-circle"></use>
</svg></span>
</h4>
                <div class="row">
                    <div class="col-12 col-sm">
                        <div class="form-radio-block d-flex my-2 my-md-3">
                            <input class="sr-only" type="radio" name="radioOptions" id="radio1-1" value="option1">
                            <label class="align-self-center w-100 py-3 py-sm-5 text-center" for="radio1-1">
                                <strong>Quebec</strong>
                                <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
  <svg class="fi fi-16 fi-white">
    <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
  </svg>
</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-sm">
                        <div class="form-radio-block d-flex my-2 my-md-3">
                            <input class="sr-only" type="radio" name="radioOptions" id="radio2-2" value="option2">
                            <label class="align-self-center w-100 py-3 py-sm-5 text-center" for="radio2-2">
                                <strong>Canada</strong>
                                <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
  <svg class="fi fi-16 fi-white">
    <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
  </svg>
</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-sm">
                        <div class="form-radio-block d-flex my-2 my-md-3">
                            <input class="sr-only" type="radio" name="radioOptions" id="radio-3" value="option3">
                            <label class="align-self-center w-100 py-3 py-sm-5 text-center" for="radio-3">
                                <strong>Canada + US</strong>
                                <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
  <svg class="fi fi-16 fi-white">
    <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
  </svg>
</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-50">
                <div class="py-4 border-bottom">

                    <div id="inputContainerID" class="toggle-input-container">
                        <div class="d-flex">
                            <div class="toggle-text-container">
                                <h5>Voicemail</h5>
                                <p class="text-muted">If you are not avaible, voicemail is there for you. Store up to 10 messages.</p>
                            </div>
                            <div class="toggle-container ml-auto align-self-center">
                                <input type="checkbox" name="525448247" id="525448247" class="toggle" checked="">
                                <label for="525448247" class="toggle-label" data-off="no" data-on="yes"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5 pb-4 border-bottom">

                    <div id="longDistance" class="toggle-input-container">
                        <div class="d-flex">
                            <div class="toggle-text-container">
                                <h5>International calls</h5>
                                <p class="text-muted">For $5 per month, get a fixed number of minutes to make calls to one og the countries on out special rate list.</p>
                            </div>
                            <div class="toggle-container ml-auto align-self-center">
                                <input type="checkbox" name="297037125" id="297037125" class="toggle">
                                <label for="297037125" class="toggle-label" data-off="no" data-on="yes"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <span class="float-right"><span class="fi-circle fi-circle-16 fi-circle-electric-blue">
  <svg class="fi fi-16 fi-white">
    <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
  </svg>
</span>
                    </span>
                    <h5>Free stuff everyone gets:</h5>
                    <p>Always included in your plan</p>
                    <ul class="checklist two-column text-muted">
                        <li>Call display</li>
                        <li>Call waiting</li>
                        <li>Conference calling</li>
                        <li>Call forwarding</li>
                    </ul>
                </div>
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                    <div class="d-flex">
                        <span>Save</span>
                        <svg class="fi fi-16 fi- ">
                            <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="container">
<div class="device-bottom-up">
    <div class="head">
        <span>Hi Sebastien. You've already racked up a few rewards.</span>
        <i></i>
    </div>
    <div class="content" style="display: none;">
        <span class="title">Why not use them for this purchase?</span>
        <div class="item">
            <strong>$50</strong>
            <span>de rabais a l'achat<br>de votre telephone</span>
            <small>15 day left</small>
        </div>
        <div class="item">
            <strong>$50</strong>
            <span>de rabais a l'achat<br>de votre telephone</span>
            <small>15 day left</small>
        </div>
    </div>
</div>
</div>



<div class="fixed-bottom-device">
    <div class="container">
    <div class="row py-4 content">
        <div class="col-6 d-flex align-items-center">(taxes not included)</div>
        <div class="col-6 d-flex justify-content-end">
            <strong>Your phone</strong>
            <span>$379</span>
            <div class="line"></div>
            <strong>Your plan</strong>
            <span>$20</span><sup>70</sup><sub>/month</sub>
        </div>
    </div>
</div>
</div>
