{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70 pt-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Your phone</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-lg-2 pt-20 pb-20"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="40" /></div>
                    <div class="col-lg-8 text-left">
                        <h6>Apple iPhone 7</h6>
                        <p class="text-muted">Jet Black<br />32 GB</p>
                    </div>
                    <div class="col-lg-2 btn-form-collapse-edit">
                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                        <span class="text-uppercase d-block">EDIT</span>
                    </div>
                </div>
                </div>
            </div>




            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                    <h4>Your plan</h4>
                    <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-10 text-left">
                            <h5 class="pt-3">New plan</h5>
                            <p class="text-muted">1 GB - Unlimited text messaging - Unlimited minutes</p>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
                    </div>
                </div>





        </div>
    </div>
</div>
<!-- Phone Options : End -->






<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

<div class="row">
        <div class="col-7">
            <h4 data-form-scroll="no">Order a Fizz SIM card ($10)</h4>
        </div>

            <div class="col-5 d-flex align-items-end">

    <div class="toggle-container ml-auto align-self-center">
        <input type="checkbox" name="721183778" id="721183778" class="toggle" checked="">
        <label for="721183778" class="toggle-label" data-off="no" data-on="yes"></label>
    </div>




</div>




</div>


<p class="help-box-yellow">A new Fizz SIM card is NOT included with the purchase of a phone. If you lost yours, you'll have to buy a new one.</p>


            <div class="text-center mt-5 mb-5">
                <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                    <div class="d-flex">
                        <span>Save</span>
                        <svg class="fi fi-16 fi- ">
                            <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="container">
<div class="device-bottom-up">
    <div class="head">
        <span>Hi Sebastien. You've already racked up a few rewards.</span>
        <i></i>
    </div>
    <div class="content" style="display: none;">
        <span class="title">Why not use them for this purchase?</span>
        <div class="item">
            <strong>$50</strong>
            <span>de rabais a l'achat<br>de votre telephone</span>
            <small>15 day left</small>
        </div>
        <div class="item">
            <strong>$50</strong>
            <span>de rabais a l'achat<br>de votre telephone</span>
            <small>15 day left</small>
        </div>
    </div>
</div>
</div>



<div class="fixed-bottom-device">
    <div class="container">
    <div class="row py-4 content">
        <div class="col-6 d-flex align-items-center">(taxes not included)</div>
        <div class="col-6 d-flex justify-content-end">
            <strong>Your phone</strong>
            <span>$379</span>
            <div class="line"></div>
            <strong>Your plan</strong>
            <span>$20</span><sup>70</sup><sub>/month</sub>
        </div>
    </div>
</div>
</div>
