{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70 pt-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Your phone</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-lg-2 pt-20 pb-20"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="40" /></div>
                    <div class="col-lg-8 text-left">
                        <h6>Apple iPhone 7</h6>
                        <p class="text-muted">Jet Black<br />32 GB</p>
                    </div>
                    <div class="col-lg-2 btn-form-collapse-edit">
                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                        <span class="text-uppercase d-block">EDIT</span>
                    </div>
                </div>
                </div>
            </div>




            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                    <h4>Your plan</h4>
                    <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-10 text-left">
                            <h5 class="pt-3">New plan</h5>
                            <p class="text-muted">1 GB - Unlimited text messaging - Unlimited minutes</p>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
                    </div>
                </div>



                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                        <h4>Fizz SIM card</h4>
                        <button type="button" class="btn btn-form-collapse w-100 mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col-lg-10 text-left">
                                <h5 class="pt-2">You added a SIM card to your order.</h5>
                            </div>
                            <div class="col-lg-2 btn-form-collapse-edit">
                                <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                <span class="text-uppercase d-block">EDIT</span>
                            </div>
                        </div>
                        </div>
                    </div>




                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                            <h4>Your home address</h4>
                            <button type="button" class="btn btn-form-collapse w-100 mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="col-lg-10 text-left">
                                    <p class="pt-2">5555 Boul Saint Michel<br>Montréal, QC, HHH 222, Canada</p>
                                </div>
                                <div class="col-lg-2 btn-form-collapse-edit">
                                    <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                    <span class="text-uppercase d-block">EDIT</span>
                                </div>
                            </div>
                            </div>
                        </div>



                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                <h4>Payment option</h4>
                                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="col-lg-10 text-left">
                                        <h5 class="pt-2">Pay now</h5>
                                    </div>
                                    <div class="col-lg-2 btn-form-collapse-edit">
                                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                        <span class="text-uppercase d-block">EDIT</span>
                                    </div>
                                </div>
                                </div>
                            </div>




                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                            <h4>Payment information</h4>
                            <button type="button" class="btn btn-form-collapse w-100 mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="col-lg-10 text-left pt-3">
                                    <p class="text-muted">Visa ending with 2264<br />Expires 0324</p>
                                </div>
                                <div class="col-lg-2 btn-form-collapse-edit">
                                    <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                    <span class="text-uppercase d-block">EDIT</span>
                                </div>
                            </div>
                            </div>
                        </div>





                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                <h4>Billing and shipping address</h4>
                                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="col-lg-10 text-left pt-3">
                                        <p class="text-muted">5555 Boul Saint Michel<br/>Montréal, QC, HHH 222, Canada</p>
                                    </div>
                                    <div class="col-lg-2 btn-form-collapse-edit">
                                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                        <span class="text-uppercase d-block">EDIT</span>
                                    </div>
                                </div>
                                </div>
                            </div>






        </div>
    </div>
</div>
<!-- Phone Options : End -->






<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

<div class="row">
        <div class="col-12">
            <h4>Shipping informations</h4>
        </div>



</div>




<div class="row mt-5 mb-5">

    <div class="col-4">
        <p class="text-muted">Estimaded Delivery date</p>
        <h5>2019/09/04</h5>
    </div>
    <div class="col-3 border-left border-right text-center">
        <p class="text-muted">Operated by</p>
        <p><img src="https://bookmark-css.s3.amazonaws.com/images/devices/planet.png" alt="" /></p>
    </div>
    <div class="col-5">
    <p class="text-muted">Name of the receipient <span class="tooltip-container" data-toggle="tooltip" data-html="true" data-placement="top" title="Lorem ipsum dolor sit amet">
<svg class="fi fi-24 fi-white">
<use xlink:href="/images/icons/feather-sprite.svg#help-circle" href="/images/icons/feather-sprite.svg#help-circle"></use>
</svg></span></p>
<h5>Sébastien Dupuis</h5>

    </div>
</div>








<div class="row">
<div class="form-group col-12">
  <input type="text" class="form-control" placeholder="Your phone number (optional - for delivery puposes)">
</div>



</div>





            <div class="text-center mt-5 mb-5">
                <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                    <div class="d-flex">
                        <span>Save</span>
                        <svg class="fi fi-16 fi- ">
                            <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                </button>
            </div>

        </div>
    </div>
</div>

</div>






<div class="modal fade noticeModal show" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: block;">
<div class="d-flex justify-content-center">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close mt10 mr10 mob-mr-reset mob-mt-reset" data-dismiss="modal" aria-label="Close"><svg class="fi fi-24 fi-black"><use xlink:href="images/icons/feather-sprite.svg#x" href="/images/icons/feather-sprite.svg#x"></use></svg></button>
        </div>

        <div class="modal-body pl50 pr50 mob-pr20 mob-pl20">
        <div class="text-center mt---20 mb30 mob-pt20 mob-mb20">
            <img src="https://fakeimg.pl/200x200/d8d8d8/" style="border-radius: 100%" alt="Email Sent" width="75"/>
        </div>
        <h4 class="text-center pt10 mt-15 mb30 mob-pt20 mob-mb20">Important</span></h4>
        <p class="text-muted bottom_text mb-50 mob-pb-reset">You'll have to show a photo ID when receiving your precious package.</p>
        <p class="text-center text-muted bottom_text mb-50 mob-pb-reset">
            <button type="button" class="btn btn-primary btn-lg ">I understand</button>
        </p>
    </div>
    </div>
    </div>
</div>
</div>
