{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70 pt-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Your phone</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-lg-2 pt-20 pb-20"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="40" /></div>
                    <div class="col-lg-8 text-left">
                        <h6>Apple iPhone 7</h6>
                        <p class="text-muted">Jet Black<br />32 GB</p>
                    </div>
                    <div class="col-lg-2 btn-form-collapse-edit">
                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                        <span class="text-uppercase d-block">EDIT</span>
                    </div>
                </div>
                </div>
            </div>




            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                    <h4>Your plan</h4>
                    <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-10 text-left">
                            <h5 class="pt-3">(514) 456-7890</h5>
                            <p class="text-muted">6 GB - Unlimited text messaging - Unlimited minutes</p>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
                    </div>
                </div>



                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                        <h4>Fizz SIM card</h4>
                        <button type="button" class="btn btn-form-collapse w-100 mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col-lg-10 text-left">
                                <h5 class="pt-2">No SIM car ordered</h5>
                            </div>
                            <div class="col-lg-2 btn-form-collapse-edit">
                                <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                <span class="text-uppercase d-block">EDIT</span>
                            </div>
                        </div>
                        </div>
                    </div>



                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                            <h4>Your home address</h4>
                            <button type="button" class="btn btn-form-collapse w-100 mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="col-lg-10 text-left">
                                    <p class="pt-3">5555 Boul Saint Michel<br>Montréal, QC, HHH 222, Canada</p>
                                </div>
                                <div class="col-lg-2 btn-form-collapse-edit">
                                    <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                    <span class="text-uppercase d-block">EDIT</span>
                                </div>
                            </div>
                            </div>
                        </div>




                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                <h4>Payment option</h4>
                                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="col-lg-10 text-left">
                                        <h5 class="pt-2">Pay now</h5>
                                    </div>
                                    <div class="col-lg-2 btn-form-collapse-edit">
                                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                        <span class="text-uppercase d-block">EDIT</span>
                                    </div>
                                </div>
                                </div>
                            </div>







                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                            <h4>Payment information</h4>
                            <button type="button" class="btn btn-form-collapse w-100 mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="col-lg-10 text-left pt-3">
                                    <p class="text-muted">Visa ending with 2264<br />Expires 0324</p>
                                </div>
                                <div class="col-lg-2 btn-form-collapse-edit">
                                    <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                    <span class="text-uppercase d-block">EDIT</span>
                                </div>
                            </div>
                            </div>
                        </div>





                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                <h4>Shipping informations</h4>
                                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="col-lg-10 text-left pt-3">
                                        <p class="text-muted">Sébastien Dupuis<br>(514) 123 4567</p>
                                    </div>
                                    <div class="col-lg-2 btn-form-collapse-edit">
                                        <svg class="fi fi-32 fi-light-gray"><use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use></svg>
                                        <span class="text-uppercase d-block">EDIT</span>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="row justify-content-center pb-5">
                                                                    <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                                                        <h4>Order sumary</h4>
                                                                        <hr>
                                                                        <div class="d-flex justify-content-between mt-30">
                                                                            <h6 class="mb-0">Your phone</h6>
                                                                            <span>

                                <strong>$379</strong>
                            </span>
                                                                        </div>
                                                                        <div class="d-flex justify-content-between text-muted mt-20">
                                                                            <span>iPhone 7 Jet Black 32 GB</span>
                                                                            <span>$XX</span>
                                                                        </div>

                                                                        <hr>
                                                                        <div class="d-flex justify-content-between mt-20">
                                                                            <h6 class="mb-0">Sim card</h6>
                                                                            <span><strong>-$50</strong></span>
                                                                        </div>


                            <div class="d-flex justify-content-between mt-20">
                                                                            <p class="mb-0">Subtotal</p>
                                                                            <span><strong>$329</strong></span>
                                                                        </div>

                            <div class="d-flex justify-content-between mt-20">
                                                                            <p class="mb-0">GST</p>
                                                                            <span><strong>$16.45</strong></span>
                                                                        </div>

                            <div class="d-flex justify-content-between mt-20">
                                                                            <p class="mb-0">QST</p>
                                                                            <span><strong>$32.82</strong></span>
                                                                        </div>










                                                                        <div class="d-flex justify-content-between align-items-center mt-5 mb-5 pb-5">
                                                                            <h4 class="p<rice-status-total text-left">Total</h4>
                                                                            <h2 class="price-status-value"><span class="dollar-sign align-middle">$</span>69<span class="per-month">per month</span></h2>
                                                                        </div>
                                                                    </div>
                                                                </div>









        </div>
    </div>
</div>
<!-- Phone Options : End -->







<div class="fixed-bottom price-status show">
  <div class="container py-4">

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">

        <div class="d-flex justify-content-between align-items-center pb-md-2">
          <h3 class="price-status-total">Total</h3>
          <h2 class="price-status-value"><span class="dollar-sign align-middle">$</span>378<sup>27</sup></h2>
        </div>

        <div class="d-flex align-items-center justify-content-between">

          <div class="d-flex pt-md-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">I hereby aknowledge having read the <a href="#">Services agreement</a> and agree to its terms.</label>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="d-flex pt-md-3 pl-md-4">
              <button type="button" class="btn btn-primary btn-lg ">Submit my order</button>            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>








</div>
