{% include "organisms-top-navigation-logged-in-fixed-top" %}

<div class="row bg-fizz-light-blue">
    <div class="container py-100">
        <div class="row">
            <div class="col-6 text-center">
                <img src="https://fakeimg.pl/315x315/d8d8d8/" width="315" height="315" alt="" style="border-radius: 100%">
            </div>
            <div class="col-6 text-center pt-5">
                <h2 class="py-2">Thank you Sébastien<br>Your order is confirmed!</h2>
                <p>Your order number is 0001.</p>
                <p>You will receive an email confirmation shortly.</p>
                <p><strong>Estimated Delivery date:</strong> 2019/09/04</p>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                        <div class="d-flex">
                            <span>Follow my order</span>
                            <svg class="fi fi-16 fi- ">
                                <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12" style="height: 150px;">
        <svg class="svg-fill-fizz-white" viewBox="0 0 439 47" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice">
            <path d="m0 6.69v40.31h439.43v-34.43s-16.71-2.67-38.62 2.62-31.75 10.83-61 9.32c-28.34-1.51-30.21-5.51-49.35-5.51-42.11 0-54.58 11.08-96.9 11.08s-50-20-101.91-27.51-91.65 4.12-91.65 4.12z" fill-rule="evenodd"></path>
        </svg>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-6 text-center pt-5 pl-5 pr-5">
            <h5>Thanks to your purchase, you have just accumulated</h5>
            <h3>1137 points</h3>
            <p>They will be added to your My Rewards program within a month.</p>
        </div>
        <div class="col-6 text-center">
            <img src="https://fakeimg.pl/315x315/d8d8d8/" width="315" height="315" alt="" style="border-radius: 100%">
        </div>
    </div>
</div>
