{% include "organisms-top-navigation-logged-in-fixed-top" %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3 dashboard-sidebar bg-white">
            <div class="dashboard-sidebar-nav">

                <div class="dashboard-user-name bg-lightest-gray d-none d-md-block px-md-5 py-3">
                    <h4>Sébastien D.</h4>
                </div>

                <nav class="nav nav-dashboard-main flex-row flex-md-column justify-content-between px-md-5 py-3">

                    <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3 active" href="#">
                        <svg class="fi fi-24 fi-">
                            <use xlink:href="/images/icons/feather-sprite.svg#zap" href="/images/icons/feather-sprite.svg#zap"></use>
                        </svg> <span class="ml-md-3">Dashboard</span>
                    </a>

                    <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
                        <svg class="fi fi-24 fi-">
                            <use xlink:href="/images/icons/feather-sprite.svg#user" href="/images/icons/feather-sprite.svg#user"></use>
                        </svg> <span class="ml-md-3">My plans</span>
                    </a>

                    <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
                        <svg class="fi fi-24 fi-">
                            <use xlink:href="/images/icons/feather-sprite.svg#clipboard" href="/images/icons/feather-sprite.svg#clipboard"></use>
                        </svg> <span class="ml-md-3">My profile</span>
                    </a>
                </nav>



                <div class="card card-normal card-sidebar-devices">
                <ul class="list-group list-group-flush">
                <li class="list-group-item p-4 d-flex flex-column">




                <div class="d-flex h3 text-center">
                <span class="">My Rewards</span>
                </div><div class="d-flex h1 text-center">
                <span class="">372 pts</span>
                </div>
                <div class="progress progress-small">
                <div class="progress-bar progress-bar-ascending gradient-green-gauge" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-increment-step="1" style="width: 25%;">
                </div>
                </div>

                <div class="row pt-3">
                    <div class="col">Level 1</div>
                    <div class="col">1128 pts left until Level 2</div>

                </div>
                </li>
                <li class="list-group-item p-4 px-md-0 px-xl-4 d-flex align-items-center justify-content-between">
                <div>
                <div class="d-flex justify-content-center">
                <div class="numbers-circle numbers-stroke numbers-stroke-white"><strong>10</strong></div>        </div>
                <span class="text-white mb-0"><strong>Upgrades</strong></span>
                </div>
                <div>
                <div class="d-flex justify-content-center">
                <div class="numbers-circle numbers-stroke numbers-stroke-white"><strong>12</strong></div>        </div>
                <span class="text-white mb-0"><strong>Badges</strong></span>
                </div>
                <div>
                <div class="d-flex justify-content-center">
                <div class="numbers-circle numbers-stroke numbers-stroke-white"><strong>9</strong></div>        </div>
                <span class="text-white mb-0"><strong>Rewards</strong></span>
                </div>
                </li>
                </ul>
                </div>





                <nav class="nav nav-dashboard-actions flex-row flex-md-column justify-content-between px-md-5 py-3 d-none d-md-block">

                    <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
                        <svg class="fi fi-24 fi-">
                            <use xlink:href="/images/icons/feather-sprite.svg#gift" href="/images/icons/feather-sprite.svg#gift"></use>
                        </svg> <span class="ml-md-3">Give to a friend</span>
                    </a>

                    <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
                        <svg class="fi fi-24 fi-">
                            <use xlink:href="/images/icons/feather-sprite.svg#settings" href="/images/icons/feather-sprite.svg#settings"></use>
                        </svg> <span class="ml-md-3">Manage Contacts</span>
                    </a>

                    <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
                        <svg class="fi fi-24 fi-">
                            <use xlink:href="/images/icons/feather-sprite.svg#log-out" href="/images/icons/feather-sprite.svg#log-out"></use>
                        </svg> <span class="ml-md-3">Logout</span>
                    </a>
                </nav>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 ml-sm-auto d-flex flex-column justify-content-between dashboard-content">


        <div class="py-5 px-md-5">

                  <div class="row">
                    <div class="col-12 text-muted"><span class="display-4">‹</span> My device</div>
                    <div class="col-12">
                      <div class="col-12">
                        <div class="my-2 mx-2 mb-3">
                          <h1 class="text-left text-sm-center">Order history</h1>


                        </div>
                      </div>


                      <div class="col-12 mb-4">
                          <div class="progress progress-small">
                              <div class="progress-bar progress-bar-ascending bg-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-increment-step="1" style="width: 25%;"></div>
                          </div>
                          <div class="card py-3 p-lg-4 p-md-3" style="margin-top: -10px;">
                          <div class="row">

                          <div class="col-1"><img src="http://via.placeholder.com/65x140" class=""></div>
                          <div class="col-11">
                              <h4>Samsung Galaxy S10</h4>
                              <p>32 GB - Black - IMEI: 1234567890 - With SIM Card</p>
                              <h5 class="text-red">Order cancelled</h5>
                           	  <p>On 2019/10/30 - 10:27am</p>
                          </div>


                      </div></div>
                      </div>



                      <div class="col-12 mb-4">
                          <div class="progress progress-small">
                              <div class="progress-bar progress-bar-ascending gradient-green-gauge" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-increment-step="1" style="width: 25%;"></div>
                          </div>
                          <div class="card py-3 p-lg-4 p-md-3" style="margin-top: -10px;">
                          <div class="row">

                          <div class="col-1"><img src="http://via.placeholder.com/65x140" class=""></div>
                          <div class="col-9">
                              <h4>Samsung Galaxy S10</h4>
                              <p>32 GB - Black - IMEI: 1234567890 - With SIM Card</p>
                              <h5 class="text-green">Order confirmed</h5>
                           	<p><b>Estimated date of delivery</b>: 2019/10/30</p>
                          </div>
                          <div class="col-2 d-flex align-items-center justify-content-center">
                          	<button type="button" class="btn btn-outline-dark btn-l btn-block btn-xl">See details</button>
                          </div>

                      </div></div>
                      </div>


                      <div class="col-12 mb-4">
                          <div class="progress progress-small">
                              <div class="progress-bar progress-bar-ascending gradient-green-gauge" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-increment-step="1" style="width: 25%;"></div>
                          </div>
                          <div class="card py-3 p-lg-4 p-md-3" style="margin-top: -10px;">
                          <div class="row">

                          <div class="col-1"><img src="http://via.placeholder.com/65x140" class=""></div>
                          <div class="col-9">
                              <h4>Samsung Galaxy S10</h4>
                              <p>32 GB - Black - IMEI: 1234567890 - With SIM Card</p>
                              <h5 class="text-green">Order confirmed</h5>
                           	<p><b>Estimated date of delivery</b>: 2019/10/30</p>
                          </div>
                          <div class="col-2 d-flex align-items-center justify-content-center">
                          	<button type="button" class="btn btn-outline-dark btn-l btn-block btn-xl">See details</button>
                          </div>

                      </div></div>
                      </div>


                      <div class="col-12 mb-4">
                          <div class="progress progress-small">
                              <div class="progress-bar progress-bar-ascending gradient-green-gauge" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-increment-step="1" style="width: 25%;"></div>
                          </div>
                          <div class="card py-3 p-lg-4 p-md-3" style="margin-top: -10px;">
                          <div class="row">

                          <div class="col-1"><img src="http://via.placeholder.com/65x140" class=""></div>
                          <div class="col-9">
                              <h4>Samsung Galaxy S10</h4>
                              <p>32 GB - Black - IMEI: 1234567890 - With SIM Card</p>
                              <h5 class="text-green">Order confirmed</h5>
                           	<p><b>Estimated date of delivery</b>: 2019/10/30</p>
                          </div>
                          <div class="col-2 d-flex align-items-center justify-content-center">
                          	<button type="button" class="btn btn-outline-dark btn-l btn-block btn-xl">See details</button>
                          </div>

                      </div></div>
                      </div>



</div>


                    </div>
                  </div>

                      </div>








        </div>
    </div>
</div>
