{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70 pt-30">


<div class="col-12 text-muted"><span class="display-4">‹</span> Manage my device</div>




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 pt-3 pb-3">
                <h2 class="text-center">15-day return policy | Warranty</h2>
                <p class="text-muted text-center pt-3 pb-3">If something isn't right with your phone, we'll do our very best to help in addressing the issue.</p>




                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-lg-4 pt-20 pb-20 text-right"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="55" /></div>
                    <div class="col-lg-8 text-left">
                        <h5>Apple iPhone 7 - 32 GB - Jet Black</h5>
                        <b>(514) 123-4567</b>
                        <p class="text-muted">IMEI: 1234567890<br>Purchase date: 2019/09/30</p>
                    </div>
                </div>
                </div>
            </div>




            <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                            <h4>Nature of your retrun request</h4>
                            <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="col-lg-10 text-left">
                                        <p class="pt-3"><img src="https://bookmark-css.s3.amazonaws.com/images/devices/check.png" alt="#" />Return and exchange (warranty)</p>
                                    </div>
                                    <div class="col-lg-2 btn-form-collapse-edit">
                                        <svg class="fi fi-32 fi-light-gray">
                                            <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                                        </svg>
                                        <span class="text-uppercase d-block">EDIT</span>
                                    </div>
                                </div>
                        </button></div>
                    </div>






                    <div class="row justify-content-center">
                                <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                    <h4>Details of your request</h4>
                                    <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="col-lg-10 text-left">
                                                <p class="pt-3"><img src="https://bookmark-css.s3.amazonaws.com/images/devices/check.png" alt="#" />Phone is, and remains, frozen</p>
                                            </div>
                                            <div class="col-lg-2 btn-form-collapse-edit">
                                                <svg class="fi fi-32 fi-light-gray">
                                                    <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                                                </svg>
                                                <span class="text-uppercase d-block">EDIT</span>
                                            </div>
                                        </div>
                                </button></div>
                            </div>







                        <div class="row justify-content-center">
                                    <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                        <h4>Conditions for return</h4>
                                        <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="col-lg-10 text-left">
                                                    <p class="pt-3"><img src="https://bookmark-css.s3.amazonaws.com/images/devices/check.png" alt="#" />I understand and I accept</p>
                                                </div>
                                                <div class="col-lg-2 btn-form-collapse-edit">
                                                    <svg class="fi fi-32 fi-light-gray">
                                                        <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                                                    </svg>
                                                    <span class="text-uppercase d-block">EDIT</span>
                                                </div>
                                            </div>
                                    </button></div>
                                </div>





                                                        <div class="row justify-content-center">
                                                                    <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                                                                        <h4>Important to know for your return</h4>
                                                                        <button type="button" class="btn btn-form-collapse w-100 mt-3">
                                                                            <div class="d-flex justify-content-between align-items-center">
                                                                                <div class="col-lg-10 text-left">
                                                                                    <p class="pt-3"><img src="https://bookmark-css.s3.amazonaws.com/images/devices/check.png" alt="#" />I understand and I accept</p>
                                                                                </div>
                                                                                <div class="col-lg-2 btn-form-collapse-edit">
                                                                                    <svg class="fi fi-32 fi-light-gray">
                                                                                        <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                                                                                    </svg>
                                                                                    <span class="text-uppercase d-block">EDIT</span>
                                                                                </div>
                                                                            </div>
                                                                    </button></div>
                                                                </div>








        </div>







    </div>
</div>
<!-- Phone Options : End -->








<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">



<div class="row pb-5">
    <div class="col-12">
        <h4>Prepation for a return - <span class="text-green">3</span>/7</h4>
    </div>
</div>

<div class="row mt-3">
    <div class="col-8">
        <h5 class="pb-2">Unlock home screen.</h5>
        <p>To inspect your phone, the technicians must be able to easily access it. If the home screen is locked, your phone will be returned to you, and you will be charged the administrative fee of $75 (plus applicable taxes). <a href="#" title="#" class="underline">Learn more</a></p>
    </div>
    <div class="col-4">
        <img src="http://via.placeholder.com/220x185" alt="#">
    </div>

    <div class="col-12 pt-5">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">The home screen is not locked.</label>
    </div>




    </div>
</div>





<div class="row mt-5">


    <div class="col-12 text-center">


        <button type="button" class="btn btn-primary icon-right">
          <div class="d-flex">
            <span>Save</span>

          </div>
        </button>



    </div>

</div>



</div>

</div>
