{% include "organisms-top-navigation-logged-in-fixed-top" %}


<div class="py-50 py-md-120 bg-lightest-gray">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center mb-60">
                <h2>We received your request for the<br>return of your phone.</h2>
                <p class="text-muted pt-3 pb-3">Keep an eye on your emails. You'll receive a confirmation email.</p>
                <p><strong>Return number: 81234567</strong></p>
            </div>

            <div class="col-12 text-center mb-60">
                <h3>Follow these steps to return your phone:</h3>
            </div>


            <div class="pb-50 bg-lightest-gray">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-10">

                            <div class="row">

                            <div class="col-12 col-md-4 mb-5">
                                    <div class="row">
                                        <div class="col-4 col-md-12">
                                            <img src="http://via.placeholder.com/105x105" class="img-fluid d-block mx-auto mb-3">
                                        </div>
                                        <h4 class="col-12 text-center pb-2 pt-2">Prepare your package</h4>
                                        <div class="col-8 col-md-12">
                                            <p class="text-md-center text-muted">Consider using a Canada Post Smartphone Return Mailing Box to avoid any damage during travel. You are responsible for your package until Fizz receives it.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mb-5">
                                    <div class="row">
                                        <div class="col-4 col-md-12">
                                            <img src="http://via.placeholder.com/105x105" class="img-fluid d-block mx-auto mb-3">
                                        </div>
                                        <h4 class="col-12 text-center pb-2 pt-2">Drop off your package</h4>
                                        <div class="col-8 col-md-12">
                                            <p class="text-md-center text-muted">Drop off your package and return ID numbers at the nearest Canada Post deposit location before 2019/10/12. Any later, and Canada Posts will not accept your package.<br><a class="underline" href="#" title="#">Find a deposit location</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mb-5">
                                    <div class="row">
                                        <div class="col-4 col-md-12">
                                            <img src="http://via.placeholder.com/105x105" class="img-fluid d-block mx-auto mb-3">
                                        </div>
                                        <h4 class="col-12 text-center pb-2 pt-2">Keep your receipt</h4>
                                        <div class="col-8 col-md-12">
                                            <p class="text-md-center text-muted">Keep the receipt Canada Post will hand you in a safe place: that tracking number is the only proof for the return of your phone. You can track your package and the status of your return directly in your activity history.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row pt-5 pb-5 justify-content-center">
                                <button type="button" class="btn btn-primary btn-lg ">Activity History</button>
                            </div>

                            <div class="row justify-content-center">
                                <img src="https://bookmark-css.s3.amazonaws.com/images/devices/post.png" alt="#" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
