{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70 pt-30">


<div class="col-12 text-muted"><span class="display-4">‹</span> Manage my device</div>




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 pt-3 pb-3">
                <h2 class="text-center">15-day return policy | Warranty</h2>
                <p class="text-muted text-center pt-3 pb-3">If something isn't right with your phone, we'll do our very best to help in addressing the issue.</p>




                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-lg-4 pt-20 pb-20 text-right"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="55" /></div>
                    <div class="col-lg-8 text-left">
                        <h5>Apple iPhone 7 - 32 GB - Jet Black</h5>
                        <b>(514) 123-4567</b>
                        <p class="text-muted">IMEI: 1234567890<br>Purchase date: 2019/09/30</p>
                    </div>
                </div>
                </div>
            </div>



        </div>







    </div>
</div>
<!-- Phone Options : End -->








<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">



<p class="help-box-yellow">Any warranty claim for your phone must be made directly with Apple.<br><a href="#" title="#">Check Your Service and Support Coverage</a></p>







</div>

</div>
