{% include "organisms-top-navigation-logged-in-fixed-top" %}

<!-- Phone Options : Start -->
<div class="bg-lightest-gray pb-70">


<div class="alert alert-danger-v2 alert-dismissible fade show text-center fixed w-100" role="alert">
  <svg class="fi fi-24 fi- ">
  <use xlink:href="/images/icons/feather-sprite.svg#bell" href="/images/icons/feather-sprite.svg#bell"></use>
</svg>  <p class="alertmsg text-center">Error!</p>
  <p class="text-center text-md-left mb-0 pl-md-3">Because your 15-day return period is over, you cannot return your phone under that policy. <a class="underline" href="#" title="#">Learn more about the 15-day return policy.</a></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="fi fi-24 fi-black">
        <use xlink:href="/images/icons/feather-sprite.svg#x" href="/images/icons/feather-sprite.svg#x"></use>
    </svg>
</button></div>









    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 pt-3 pb-3">
                <h2 class="text-center">15-day return policy | Warranty</h2>
                <p class="text-muted text-center pt-3 pb-3">If something isn't right with your phone, we'll do our very best to help in addressing the issue.</p>




                <div class="d-flex justify-content-between align-items-center">
                    <div class="col-lg-4 pt-20 pb-20 text-right"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="55" /></div>
                    <div class="col-lg-8 text-left">
                        <h5>Apple iPhone 7 - 32 GB - Jet Black</h5>
                        <b>(514) 123-4567</b>
                        <p class="text-muted">IMEI: 1234567890<br>Purchase date: 2019/09/30</p>
                    </div>
                </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- Phone Options : End -->






<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">


        <div class="alert alert-devices-yellow text-center mt-5 mb-5" role="alert">
                        <img src="https://bookmark-css.s3.amazonaws.com/images/devices/alert-yellow.png">
                        <p class="text-center text-md-left mb-0 pl-md-3">The billing address associated with your credit card must match your shipping address.</p>
                    </div>

<div class="row">
        <div class="col-12">
            <h4>What is the nature of your return request?</h4>
        </div>



</div>





<div class="container">
      <div class="col-12">
      <div class="card card-accordion my-3">
        <a class="collapsed" data-toggle="collapse" role="button" aria-expanded="false" data-target="#collapse2090622197" aria-controls="collapse2090622197">
          <div class="accordion-header d-flex p-4 px-md-5 align-items-center">
            <div class="col-11 p-0">
              <p class="h5">Select in the list</p>
            </div>
            <div class="col-1 p-0 text-center">
              <div class="accordion-chevron-down">
                <svg class="fi fi-32 fi- ">
  <use xlink:href="/images/icons/feather-sprite.svg#chevron-down" href="/images/icons/feather-sprite.svg#chevron-down"></use>
</svg>              </div>
              <div class="accordion-chevron-up">
                <svg class="fi fi-32 fi- ">
  <use xlink:href="/images/icons/feather-sprite.svg#chevron-up" href="/images/icons/feather-sprite.svg#chevron-up"></use>
</svg>              </div>
            </div>
          </div>
        </a>
        <div class="accordion-body collapse" id="collapse2090622197" style="">
          <div class="p-4 px-md-5">


  <div class="row">
    <div class="col-12 px-md-0">
  <div class="form-checkbox-block d-flex my-2 my-md-3">
    <input class="sr-only" type="checkbox" name="checkboxOptions" id="checkboxunlimitedIncomingMinutes" value="optionunlimitedIncomingMinutes">
    <label class="align-self-center align-items-center w-100 p-3 d-flex" for="checkboxunlimitedIncomingMinutes">
      <span class="col-12 ">Return and refund within 15 days of purchase</span>
      <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
  <svg class="fi fi-16 fi-white">
    <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
  </svg>
</span>
    </label>
  </div>
</div>


<div class="col-12 px-md-0">
<div class="form-checkbox-block d-flex my-2 my-md-3">
<input class="sr-only" type="checkbox" name="checkboxOptions" id="checkboxunlimitedIncomingMinutes" value="optionunlimitedIncomingMinutes">
<label class="align-self-center align-items-center w-100 p-3 d-flex" for="checkboxunlimitedIncomingMinutes">
  <span class="col-12 ">Return and exchange (Warranty)</span>
  <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
<svg class="fi fi-16 fi-white">
<use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
</svg>
</span>
</label>
</div>
</div>


</div>

          </div>
        </div>
      </div>
    </div>

</div>









            <div class="text-center mt-5 mb-5">
<a class="btn btn-tag-purple btn-xl" href="#" role="button">Save</a>
            </div>

        </div>
    </div>
</div>

</div>
