  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js"></script>
  <script src="/js/helper-functions.js"></script>
  <script src="/js/full-screen-menu.js"></script>
  <script src="/js/header-footer.js"></script>
  <script src="/js/gauge/gauge-animation.js"></script>
  <script src="/js/main-menu-mover.js"></script>
  <script src="/js/second-level-menu-scroll.js"></script>
  <script src="/js/dropdown.js"></script>
  <script src="/js/input-progress.js"></script>
  <script src="/js/input-number-increment.js"></script>
  <script src="/js/form-collapse-workflow.js"></script>
  <script src="/js/phone-number-select.js"></script>
  <script src="/js/jun-6-2018-demo.js"></script>
  <script src="/js/tab-collapse.js"></script>
  <script src="/js/payment.js"></script>
  <script src="/js/modal-mover.js"></script>
  <script src="/js/upgrade-jiggle.js"></script>
  <script src="/js/circle-loader-animation.js"></script>
  <script src="/js/gifting-footer.js"></script>
  <script src="/js/copy-input-value.js"></script>
  <script src="/js/chart-scroller.js"></script>
  <script src="/js/long-distance-modal.js"></script>
  <script src="/js/calendar/calendar.pickadate.js"></script>
  <script src="/js/calendar/calendar.slick.js"></script>
  <script src="/js/calendar/calendar.js"></script>
  <script src="/js/product-listing.js"></script>
  <script src="/js/devices.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


  <!-- Required to get SVG icons to work in IE 11 -->
  <script src="/js/svg4everybody.min.js"></script>

  <script>svg4everybody();</script>
  <script>
    $(function () { $('[data-toggle="tooltip"]').tooltip() })
  </script>

  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  </body>
</html>
