<span class="fi-circle fi-circle-16 fi-circle-{{ circleColor|default(NULL) }}">
  <svg class="fi fi-16 fi-{{ color|default(NULL) }}">
    <use xlink:href="/images/icons/feather-sprite.svg#{{ icon|default('search') }}" href="/images/icons/feather-sprite.svg#{{ icon|default('search') }}"/>
  </svg>
</span>
