<div class="circle-loader" data-circle-percent={{ circlePercent|default(0.2) }}>
  <svg class="circle-loader-progress" width="60" height="60" viewBox="0 0 60 60">
    <circle class="progress-meter" cx="30" cy="30" r="28" fill="none" stroke="#e6e6e6" stroke-width="4" />
    <circle class="progress-value" cx="30" cy="30" r="28" fill="none" stroke="#00d672" stroke-width="4" stroke-dasharray="0, 175.929" />
  </svg>
</div>