<div class="p-30">
  <div class="floating-label-group">
    <input type="email" class="floating-label-input form-control" required/>
    <label class="floating-label d-flex">
      <span class="hide-icon mr-2">
          <svg class="fi fi-16">
            <use xlink:href="/images/icons/feather-sprite.svg#mail" href="/images/icons/feather-sprite.svg#mail"></use>
          </svg>
        </span> Email
    </label>
  </div>

  <div class="floating-label-group floating-label-control mt-md-30 mt-15">
    <input type="email" class="floating-label-input form-control" value="test@test.com" required/>
    <label class="floating-label d-flex">
      <span class="hide-icon mr-2">
          <svg class="fi fi-16">
            <use xlink:href="/images/icons/feather-sprite.svg#mail" href="/images/icons/feather-sprite.svg#mail"></use>
          </svg>
        </span> Email
    </label>
  </div>

  <!--invalid msg password label -->
  <div class="floating-label-group floating-label-group-suffix mt-md-30 mt-15">
    <input type="password" class="floating-label-input form-control is-invalid" required/>
    <label class="floating-label d-flex">
      <span class="hide-icon mr-2">
        <svg class="fi fi-16">
          <use xlink:href="/images/icons/feather-sprite.svg#lock" href="/images/icons/feather-sprite.svg#lock"></use>
        </svg>
      </span> Password
    </label>
    <div class="invalid-feedback">Sample error message</div>
    <label class="label-right forgot-label-right"><a href="#" class="">Forgot</a></label>
  </div>

  <div class="floating-label-group floating-label-group-suffix floating-label-control mt-md-30 mt-15">
    <input type="password" class="floating-label-input form-control is-invalid" value="12345678" required/>
    <label class="floating-label d-flex">
      <span class="hide-icon mr-2">
        <svg class="fi fi-16">
          <use xlink:href="/images/icons/feather-sprite.svg#lock" href="/images/icons/feather-sprite.svg#lock"></use>
        </svg>
      </span> Password
    </label>
    <div class="invalid-feedback">Sample error message</div>
    <label class="label-right forgot-label-right"><a href="#" class="">Forgot</a></label>
  </div>
</div>

<hr>

<div class="p-30">
  <div class="input-group">
    <div class="floating-label-group floating-label-control">
      <input type="email" class="floating-label-input form-control" value="test@test.com" required/>
      <label class="floating-label d-flex">
        <span class="hide-icon mr-2">
          <svg class="fi fi-16">
            <use xlink:href="/images/icons/feather-sprite.svg#mail" href="/images/icons/feather-sprite.svg#mail"></use>
          </svg>
        </span> Email
      </label>
    </div>
    <div class="input-group-append">
      <button type="button" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>

<div class="p-30">
  <div class="input-group input-group-lg">
    <div class="floating-label-group floating-label-control">
      <input type="email" class="floating-label-input form-control h-100" value="test@test.com" required/>
      <label class="floating-label d-flex">
        <span class="hide-icon mr-2">
          <svg class="fi fi-16">
            <use xlink:href="/images/icons/feather-sprite.svg#mail" href="/images/icons/feather-sprite.svg#mail"></use>
          </svg>
        </span> Email
      </label>
    </div>
    <div class="input-group-append">
      <button type="button" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>
