<div class="row">
    {% include 'atoms-block-radio-text-left-with-price' with { inputNumber: "data500mo", price:'$5.00' , labelName: '500 MB of data' } %}
    {% include 'atoms-block-radio-text-left-with-price' with { inputNumber: "data1go", price:'$8.00' , labelName: '1 GB of data' } %}
    {% include 'atoms-block-radio-text-left-with-price' with { inputNumber: "data2go", price:'$12.00' , labelName: '2 GB of data' } %}
</div>