{% set headerText = 'Voice/Text' %}

{% extends 'organisms-accordion-form-container' %}

{% block accordionBodyForm %}

  <p class="text-muted text-center">Choose your Add-On</p>

  {% include 'organisms-check-list-voice-smsAddOn' %}

  <p class="text-muted">Note: These will expire on <span>Feb. 28,2018</span></p>

{% endblock %}