<div class="row">
    {% include 'atoms-block-checkbox-price-left-text-center' with { labelName:'Unlimited incoming Minutes',price:'$15.00', inputNumber:'unlimitedIncomingMinutes'} %}
    {% include 'atoms-block-checkbox-price-left-text-center' with { labelName:'Unlimited SMS',price:'$5.00', inputNumber:'unlimitedSMS'} %}
</div>