<div class="">
  {% include 'atoms-block-checkbox-price-left-text-center-3line' with {price:'$3.00', header:'Germany, Zone 1', line1:'Long Distance',line2:'100 minutes bloc', inputNumber:'100minZone1'} %}
  {% include 'atoms-block-checkbox-price-left-text-center-3line' with { price:'$10.00', header:'Germany, Zone 1', line1:'Long Distance',line2:'500 minutes bloc', inputNumber:'500minZone1'} %}
</div>