<h4 data-form-scroll="yes">Summary</h4>
<ul class="list-group list-group-flush price-summary">
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description"><span class=""><strong>1 GB of Shareable Data</strong></span><br><span class="caption">Valid until Fev 28,2018</span></div>
    <div class="item-price">$8.00</div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <div class="item-description"><span class=""><strong>Long Distance<br>500 minutes bloc</strong><br>Zone1</span><br><span class="caption">Valid until Fev 28,2018</span></div>
    <div class="item-price">$10.00</div>
  </li>
</ul>
<p class="pt-2 border-top">FYI: These Add-ons are available until the end of your next billing cycle.</p>