<div class="modal-dialog signup-modal modal-dialog-centered" role="document"> 
  <div class="modal-content"> 
 
      <div class="modal-header mb-20"> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
            <svg class="fi fi-24 fi-grey"> 
              <use xlink:href="/images/icons/feather-sprite.svg#x" href="/images/icons/feather-sprite.svg#x"/> 
            </svg> 
        </button> 
      </div> 
 
      <div class="modal-body p-0 mx-30 mx-md-75">   
        <h5 class="mb-0 pb-25">Sign up</h5> 
 
          <div class="form-group mb-30"> 
            <input type="text" class="form-control py-20 px-15 fs-13" placeholder="First Name"> 
          </div> 
 
          <div class="form-group mb-30"> 
            <input type="text" class="form-control py-20 px-15 fs-13" placeholder="Last Name"> 
          </div> 
 
          <div class="form-group mb-30 form-group-inline-label form-group-inline-label-left-icon"> 
            <input type="email" class="form-control pl-45 py-20 fs-13" placeholder="Email"> 
            <label class="label-left-icon"> 
              <svg class="fi fi-16 fi-"> 
                <use xlink:href="/images/icons/feather-sprite.svg#mail" href="/images/icons/feather-sprite.svg#mail"></use> 
              </svg> 
            </label> 
          </div> 
 
          <div class="form-group mb-25 form-group-inline-label form-group-inline-label-right form-group-inline-label-left-icon"> 
            <input type="password" class="form-control pl-45 py-20 fs-13" placeholder="Password"> 
            <label class="label-left-icon"> 
              <svg class="fi fi-16 fi-"> 
                <use xlink:href="/images/icons/feather-sprite.svg#lock" href="/images/icons/feather-sprite.svg#lock"></use> 
              </svg> 
            </label> 
            <label class="label-right tooltip-input-right"> 
            <span class="tooltip-container mx-1" data-toggle="tooltip" data-html="true" data-placement="top" title="Lorem ipsum dolor sit amet"> 
              <svg class="fi fi-24 fi-white"> 
                <use xlink:href="/images/icons/feather-sprite.svg#info" href="/images/icons/feather-sprite.svg#info"/> 
              </svg> 
            </span> 
            </label> 
          </div> 
 
          <div class="custom-control custom-checkbox mb-25"> 
            <input type="checkbox" class="custom-control-input" id="unique-id"> 
            <label class="custom-control-label fs-12 pb-0" for="unique-id">I agree to the <a class="underline" href="#">Terms and Services</a></label> 
          </div> 
 
          <button type="button" class="btn btn-primary btn-block btn-lg btn-height-55 mb-0">Sign up</button> 
 
          <div class="container py-3"> 
            <div class="row justify-content-center"> 
              <div class="col text-laurel d-sm-block"></div> 
              <div> 
                <p class="text-muted text-uppercase px-2 py-2 d-block fs-14"><small>Or login with</small></p> 
              </div> 
              <div class="col text-laurel d-sm-block"></div> 
            </div> 
          </div> 
 
          <div class="d-flex flex-wrap justify-content-between mb-40"> 
 
            <button type="button" class="btn btn-sm btn-icon btn-facebook mb-10"> 
                <svg class="fi fi-16 fi- fi-fill-white"> 
                    <use xlink:href="/images/icons/feather-sprite.svg#facebook" href="/images/icons/feather-sprite.svg#facebook"></use> 
                </svg> 
            </button> 
 
            <button type="button" class="btn btn-sm btn-icon btn-instagram mb-10"> 
                <svg class="fi fi-16 fi- fi-white"> 
                    <use xlink:href="/images/icons/feather-sprite.svg#instagram" href="/images/icons/feather-sprite.svg#instagram"></use> 
                </svg> 
            </button> 
 
            <button type="button" class="btn btn-sm btn-icon btn-linkedin mb-10"> 
                <svg class="fi fi-16 fi- fi-fill-white"> 
                    <use xlink:href="/images/icons/feather-sprite.svg#linkedin" href="/images/icons/feather-sprite.svg#linkedin"></use> 
                </svg> 
            </button> 
 
            <button type="button" class="btn btn-sm btn-icon btn-twitter mb-10"> 
                <svg class="fi fi-16 fi- fi-fill-white"> 
                    <use xlink:href="/images/icons/feather-sprite.svg#twitter" href="/images/icons/feather-sprite.svg#twitter"></use> 
                </svg> 
            </button> 
 
            <button type="button" class="btn btn-sm btn-icon btn-yellow mb-10"> 
                <svg class="fi fi-16 fi- fi-white"> 
                    <use xlink:href="/images/icons/feather-sprite.svg#x-circle" href="/images/icons/feather-sprite.svg#x-circle"></use> 
                </svg> 
            </button> 
 
            <button type="button" class="btn btn-sm btn-icon btn-google mb-10"> 
                <svg class="fi fi-16 fi- fi-white"> 
                    <use xlink:href="/images/icons/feather-sprite.svg#x-circle" href="/images/icons/feather-sprite.svg#x-circle"></use> 
                </svg> 
            </button> 
 
          </div>         
          <p class="text-center text-muted mb-50 fs-16"><small>Already a member? <a href="#" class="underline">Log in</a></small></p> 
        </div> 
  </div> 
</div>