{{ dump(region_attributes) }}
<div class="layout" style="foo-layout border: 1px solid red" {{ attributes }}>
    <div {{ region_attributes.text.addClass('layout__region') }}>Text: {{ text }}</div>
</div>
