<div class="card card-normal">
  <ul class="list-group list-group-flush">
    <li class="list-group-item px-2 px-md-5 d-flex">Cras justo odio</li>
    <li class="list-group-item px-2 px-md-5 d-flex">Dapibus ac facilisis in</li>
    <li class="list-group-item px-2 px-md-5 d-flex">Vestibulum at eros</li>
  </ul>
</div>