<div class="container-fluid">
  <p>Demonstrates a fluid-width container with different combinations of columns using a 12-column grid. This makes the content flow to the edges of the screen.</p> 
  <p>Bootstrap 4 uses Flexbox to make all columns the same size when a column prefix (like col-sm-6) isn't present.</p>
  <div class="row bd-example-row">
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
    <div class="col">
      col
    </div>
  </div>
</div>

<div class="container-fluid">
  <p>We can control the width of each column using a column prefix (like col-sm-6).</p>
  <div class="row bd-example-row">
    <div class="col-sm-3">
      col-sm-3
    </div>
    <div class="col-sm-6">
      col-sm-6
    </div>
    <div class="col-sm-3">
      col-sm-3
    </div>
  </div>
</div>

<div class="container-fluid">
  <p>We can use different column prefixes to change the column sizes on different screen sizes.</p> 
  <p>In this case, we are showing 4 and 8 columns on small screens (col-sm-4 and col-sm-8), and 3 and 9 columns on medium screens and up (col-md-3 col-md-9).</p>
  <p>On extra small screens, all the columns stack on top of each other if a prefix isn't used (such as col-3 and col-9).</p>
  <div class="row bd-example-row">
    <div class="col-sm-4 col-md-3">
      col-sm-4 col-md-3
    </div>
    <div class="col-sm-8 col-md-9">
      col-sm-8 col-md-9
    </div>
  </div>
</div>

<div class="container-fluid">
  <p>Demonstrates individual grid columns across and their gutters.</p>
  <div class="row bd-example-row--pinstripe">
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
    <div class="col">
      <div class="pinstripe-col">col</div>
    </div>
  </div>
</div>