<div class="fixed-bottom price-status sticky-gifting-footer show">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="align-items-center text-center justify-content-between pt-3">
           <a href="{{ attribute(link, 'templates-giftingSummary') }}" class="btn btn-green btn-lg">Gift to someone new</a>
        </div>
      </div>
    </div>
  </div>
</div>