<div class="fixed-bottom price-status fixed-bottom show bg-white d-block d-md-none">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="align-items-center text-center justify-content-between pt-3">
          <a href="{{ attribute(link, 'templates-ReferralGenerateYourCode') }}" class="btn btn-green btn-lg">{{ buttonNext|default('REVEAL MY REFERRAL CODE') }}</a>
        </div>
        <div class="align-items-center text-center justify-content-between pt-3">
          <a href="{{ attribute(link, 'templates-ReferralGenerateYourCode') }}" class="btn btn-outline-dark btn-lg">{{ buttonCancel|default('I’ll invite them later.') }}</a>
        </div>
      </div>
    </div>
  </div>
</div>