<footer class="page-footer bg-green py-4">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-auto order-lg-3 text-center text-lg-right"> -->
      <div class="col-12 col-lg-5 order-lg-3 text-center text-lg-left align-self-center align-self-center">
        {% include "molecule-nav-footer-list" %}
      </div>
      <!-- <div class="col-lg-auto mr-auto order-lg-1 text-center text-lg-left"> -->
      <div class="col-12 col-lg-2 order-lg-1 text-center text-lg-left align-self-center">
        {% include "atoms-logo-white" %}
      </div>
      <!-- <div class="col-lg-auto order-lg-2 text-center text-lg-right pt-3 pt-lg-0"> -->
      <div class="col-12 col-lg-3 order-lg-2 text-center text-lg-right maring-left-60 pt-3 pt-lg-0 align-self-center">
        <span class="caption text-white">&copy; Fizz 2018</span>
      </div>
      <div class="language-switcher col-12 col-lg-2 d-none d-lg-flex order-4 justify-content-end align-self-center">
        <button type="button" class="link">FR</button>
      </div>
    </div>
  </div>
</footer>
