<nav class="nav nav-dashboard-main flex-row flex-md-column justify-content-between px-md-5 py-3">
  
  <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3 active" href="#">
    {% include 'atoms-icon-24' with { icon: 'zap' } %}
    <span class="ml-md-3">Dashboard</span>
  </a>
  
  <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
    {% include 'atoms-icon-24' with { icon: 'user' } %}
    <span class="ml-md-3">My plans</span>
  </a>
  
  <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
    {% include 'atoms-icon-24' with { icon: 'clipboard' } %}
    <span class="ml-md-3">My profile</span>
  </a>
</nav>