<nav class="nav nav-dashboard-actions flex-row flex-md-column justify-content-between px-md-5 py-3 d-none d-md-block">
  
  <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
    {% include 'atoms-icon-24' with { icon: 'gift' } %}
    <span class="ml-md-3">Give to a friend</span>
  </a>
  
  <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
    {% include 'atoms-icon-24' with { icon: 'settings' } %}
    <span class="ml-md-3">Manage Contacts</span>
  </a>
  
  <a class="flex-fill text-center text-md-left d-flex align-items-center mb-md-3" href="#">
    {% include 'atoms-icon-24' with { icon: 'log-out' } %}
    <span class="ml-md-3">Logout</span>
  </a>
</nav>