<div class="progress-with-links-container">
  <h4 class="d-inline-block alert-numbers numbers-{{ numberStatus|default('ok') }} text-muted">{{ progressValueLabel|default(6) }}</h4>
  <p class="text-muted d-inline-block d-lg-block d-xl-inline-block"><span class="display-2">/ </span>{{ progressValueProduct|default('x Gigs of data') }}</p>
  <div class="d-flex">
    {% include 'atoms-progress-slider' with { progressValue: '0' } %}
  </div>
  <div class="d-flex justify-content-around mt-4">
    {% include'atoms-button-link' with { buttonLabel:'Add-on' } %}
    {% include'atoms-button-link' with { buttonLabel:'Give' } %}
    {% include'atoms-button-link' with { buttonLabel:'Usage' } %}
  </div>
</div>