<div class="progress-with-links-container">
  <h4 class="d-inline-block alert-numbers">{{ progressValueLabel|default(6) }}</h4>
  <span class="display-2 xl-smaller-dash text-muted">/ </span>
  <p class="text-muted d-inline-block no-br-xxl">{{ progressValueProduct|default('x Gigs') }}</br> {{ progressValueBottom|default('of data') }}</p>
  <div class="d-flex">
    {% include 'atoms-progress-slider' with { direction:'descending' } %}
  </div>
  <div class="d-flex justify-content-start mt-3 mt-sm-4">
    {% include 'atoms-button-link' with { buttonLabel:'Add-on', active:'active' } %}
    {% include 'atoms-button-link' with { buttonLabel:'Give' } %}
    {% include 'atoms-button-link' with { buttonLabel:'Usage' } %}
  </div>
</div>
