<div class="row">
  <div class="col-12 col-sm">
    {% include 'atoms-block-checkbox-text-center' with { inputNumber: "1", labelName: 'Quebec' } %}
  </div>
  <div class="col-12 col-sm">
    {% include 'atoms-block-checkbox-text-center' with { inputNumber: "2", labelName: 'Canada' } %}
  </div>
  <div class="col-12 col-sm">
    {% include 'atoms-block-checkbox-text-center' with { inputNumber: "3", labelName: 'Canada + USA' } %}
  </div>
</div>