<div class="row">
  <div class="col-12 col-sm">
    {% include 'atoms-block-radio-text-left' with { inputNumber: "shippingmethodstandard", labelName: 'Standard shipping<br>(2 business days - $x)' } %}
  </div>
  <div class="col-12 col-sm">
    {% include 'atoms-block-radio-text-left' with { inputNumber: "shippingmethodexpress", labelName: 'Express shipping <br> (under 2 hours - $x)' } %}
  </div>
</div>