<div class="row">
  <div class="col-12 col-sm">
    {% include 'atoms-block-radio-text-left' with { inputNumber: "serviceAddressQuebec", labelName: '5631 Boul Saint Michel<br>Montréal QC H1Y 2E3<br>Canada' } %}
  </div>
  <div class="col-12 col-sm">
    {% include 'atoms-block-radio-text-left' with { inputNumber: "serviceAddressCanada", labelName: '5430 Rue Resther<br>Montréal QC H2J 2W3<br>Canada' } %}
  </div>
</div>