<div class="row">
  <div class="col-12 col-sm-12">
    {% include 'atoms-block-radio-icon-left-with-text' with { inputNumber: "paymentMethodCreditCard1", formId: 'paymentMethod', labelName: 'Card ending with 1234', icon:'credit-card' } %}
  </div>
  <div class="col-12 col-sm">
    {% include 'atoms-block-radio-text-center' with { inputNumber: "paymentRegisterMethodCreditCard", formId: 'paymentMethod', labelName: 'Add a credit card' } %}
  </div>
  <div class="col-12 col-sm">
    {% include 'atoms-block-radio-text-center' with { inputNumber: "paymentRegisterMethodPayPal", formId: 'paymentMethod', labelName: 'Add a PayPal account' } %}
  </div>
</div>