<div class="number-increment-container d-inline-flex bg-lighter-gray">
  {% include 'atoms-number-increment' %}
  {% include 'atoms-circle-button' with { circleColor: 'white', icon: 'minus', action: 'subtract' } %}
  {% include 'atoms-circle-button' with { circleColor: 'white', icon: 'plus', action: 'add'} %}
</div>