<div class="form-row">
  <div class="col-12">
    {% include 'atoms-input-with-label-top' with { placeholder: ' ', formLabel: 'Name on credit card' } %}
  </div>
  <div class="col-12">
    {% include 'atoms-input-with-label-top' with { placeholder: ' ', formLabel: 'Card number' } %}
  </div>
  <div class="form-group col-12 col-md-5">
    <select class="custom-select">
      <option  disabled selected>Month</option>
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
  </div>
  <div class="form-group col-12 col-md-4">
    <select class="custom-select">
      <option  disabled selected>Year</option>
      <option>2018</option>
      <option>2019</option>
      <option>2020</option>
      <option>2021</option>
      <option>2022</option>
    </select>
  </div>
  <div class="form-group col-12 col-md-3">
    <input type="text" class="form-control" placeholder="CVV">
  </div>
</div>