<div id="longDistanceSelect" class="row {{ collapse|default('collapse') }}">
  <div class="col-12">
    {% include 'atoms-global-search-colored' with { placeholder:'Select a country'} %}
    <div class="list-group my-4">
      <div href="#" class="list-group-item list-group-item-action">
        {% include 'atoms-block-checkbox-text-center-2line' with { header:'China', line1:'1000 minutes', inputNumber:'china1000'} %}
      </div>
      <div href="#" class="list-group-item list-group-item-action">
        {% include 'atoms-block-checkbox-text-center-2line' with { header:'Italy', line1:'500 minutes', inputNumber:'italy500'} %}
      </div>
      <div href="#" class="list-group-item list-group-item-action">
        {% include 'atoms-block-checkbox-text-center-2line' with { header:'Germany', line1:'1000 minutes', inputNumber:'germany1000'} %}
      </div>
      <div href="#" class="list-group-item list-group-item-action">
        {% include 'atoms-block-checkbox-text-center-2line' with { header:'Mexico', line1:'1000 minutes', inputNumber:'mexico1000'} %}
      </div>
      <div href="#" class="list-group-item list-group-item-action">
        {% include 'atoms-block-checkbox-text-center-2line' with { header:'Singapore', line1:'5000 minutes', inputNumber:'singapore5000'} %}
      </div>
      <div href="#" class="list-group-item list-group-item-action">
        {% include 'atoms-block-checkbox-text-center-2line' with { header:'France', line1:'1000 minutes', inputNumber:'france1000'} %}
      </div>
      <div href="#" class="list-group-item list-group-item-action">
        {% include 'atoms-block-checkbox-text-center-2line' with { header:'Spain', line1:'1000 minutes', inputNumber:'spain1000'} %}
      </div>
    </div>
  </div>
</div>