<a href="#">
  <div class="card pt-5 pb-2 px-3">
    <div class="card-body d-block mx-auto">
      <img src="{{ card_image }}" class="d-block mx-auto">
      <p class="d-block text-center pt-3 text-dark"><strong>{{ card_body }}</strong></p>
    </div>
  </div>
</a>