{% include "organisms-top-navigation-dropdown" %}



    <!-- Breadcrumb : Start -->
    <a class="text-muted d-flex text-left" href="#" title="#">
        <svg class="fi fi-24 fi- text-muted">
            <use xlink:href="/images/icons/feather-sprite.svg#chevron-left" href="/images/icons/feather-sprite.svg#chevron-left"></use>
        </svg>Overview</a>
    <!-- Breadcrumb : End -->

    <div class="container">

        <!-- Main : Start -->
        <div id="pdp-dashboard">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="big"><img src="/images/product-1.png" alt="#"></div>
                                    <div class="thumb">
                                        <ul>
                                            <li class="active"><img src="/images/thumb-1.png" alt="#"></li>
                                            <li><img src="/images/thumb-1.png" alt="#"></li>
                                            <li><img src="/images/thumb-1.png" alt="#"></li>
                                            <li><img src="/images/thumb-1.png" alt="#"></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h1>Apple iPhone 7</h1>
                                    <ul class="subtitle-links">
                                        <li><a id="features_scroll" href="#" title="#">Features and technical specifications</a></li>
                                        <li><a id="presentation_scroll" href="#" title="#">Presentation</a></li>
                                    </ul>

                                    <div class="choose">
                                        <legend>Choose your options</legend>
                                        <ul>
                                            <li>
                                                <a class="black" href="#" title="#"></a>
                                            </li>
                                            <li>
                                                <a class="white" href="#" title="#"></a>
                                            </li>
                                            <li>
                                                <a class="gray" href="#" title="#"></a>
                                            </li>
                                            <li>
                                                <a class="gold" href="#" title="#"></a>
                                            </li>
                                            <li>
                                                <a class="rose" href="#" title="#"></a>
                                            </li>
                                            <li>
                                                <a class="red" href="#" title="#"></a>
                                            </li>
                                        </ul>
                                        <p><b>Color:</b> Jet Black</p>
                                        <span>LOW QUANTITY LEFT</span>
                                    </div>







                                    <div class="center">
                                        <div class="custom-select-wrapper"><div class="custom-select-wrapper"><select name="sources" id="sources" class="custom-select sources" placeholder="32 GB" style="display: none;">
                                        <option value="2">64 GB</option>
                                        <option value="3">128 GB</option>
                                        <option value="4">256 GB</option>
                                        </select><div class="custom-select sources"><span class="custom-select-trigger">32 GB</span><div class="custom-options"><span class="custom-option undefined" data-value="2">64 GB</span><span class="custom-option undefined" data-value="3">128 GB</span><span class="custom-option undefined" data-value="4">256 GB</span></div></div></div><div class="custom-select-wrapper"><div class="custom-select sources" style="display: none;"><span class="custom-select-trigger">32 GB</span><div class="custom-options"><span class="custom-option undefined" data-value="2">64 GB</span><span class="custom-option undefined" data-value="3">128 GB</span><span class="custom-option undefined" data-value="4">256 GB</span></div></div><div class="custom-select sources"><span class="custom-select-trigger">undefined</span><div class="custom-options"></div></div></div></div>
                                    </div>






                                    <div class="choose-payment">
                                        <legend>Choose your payment</legend>

                                        <div class="row">
                                            <div class="col-12 col-sm">
                                                <div class="form-radio-block d-flex my-2 my-md-3">
                                                    <input class="sr-only" type="radio" name="radioOptions" id="radio1" value="option1">
                                                    <label class="align-self-center w-100 py-3 py-sm-5 text-center" for="radio1">
                                                        <strong>Quebec</strong>
                                                        <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
                  <svg class="fi fi-16 fi-white">
                    <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
                  </svg>
                </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm">
                                                <div class="form-radio-block d-flex my-2 my-md-3">
                                                    <input class="sr-only" type="radio" name="radioOptions" id="radio2" value="option2">
                                                    <label class="align-self-center w-100 py-3 py-sm-5 text-center" for="radio2">
                                                        <strong>Canada</strong>
                                                        <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
                  <svg class="fi fi-16 fi-white">
                    <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
                  </svg>
                </span>
                                                    </label>
                                                </div>
                                            </div>



                                        </div>

                                    </div>

                                </div>












                    <div class="col-lg-6 col-md-6 col-sm-12 col-12"></div>


                <div class="col-lg-6 col-md-6 col-sm-12 col-12">













                <div class="">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">

                            <h4>Select an action</h4>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-radio-block d-flex my-2 my-md-3">
                                        <input class="sr-only" type="radio" name="radioOptions" id="radio1" value="option1">
                                        <label class="align-self-center w-100 py-1 py-sm-3 text-center" for="radio1">
                                            <strong>Order phone (with discount)</strong>
                                            <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
                                      <svg class="fi fi-16 fi-white">
                                        <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
                                      </svg>
                                    </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-radio-block d-flex my-2 my-md-3">
                                        <input class="sr-only" type="radio" name="radioOptions" id="radio2" value="option2">
                                        <label class="align-self-center w-100 py-1 py-sm-3 text-center" for="radio2">
                                            <strong>Swap phone</strong>
                                            <span class="fi-circle fi-circle-16 fi-circle-electric-blue">
                                      <svg class="fi fi-16 fi-white">
                                        <use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use>
                                      </svg>
                                    </span>
                                        </label>
                                    </div>

                                </div>

                            </div>

                            <div class="mt-2 mb-2">
                                <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                                    <div class="d-flex">
                                        <span>Save</span>
                                        <svg class="fi fi-16 fi- ">
                                            <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                                        </svg>
                                    </div>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>







                </div></div>



                            </div>


            </div>











        </div>

        <div id="bottom">
            <div class="container">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="heading-1">
                            <h5 class="mb-0">
        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
          Key features and technical specifications
        </a>
      </h5>
                        </div>
                        <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
                            <div class="card-body">

                                <!--<h4>Key features and technical specifications</h4>-->

                                <div class="row">

                                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 icon_item">

                                        <i><img src="/images/camera.png" alt="#"></i>
                                        <h6>Camera</h6>
                                        <p>48 MP rear camera and
                                            <br/> 25 MP front camera</p>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 icon_item">

                                        <i><img src="/images/memory.png" alt="#"></i>
                                        <h6>Memory</h6>
                                        <p>Memory expendable
                                            <br/> up to 2 TB</p>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 icon_item">

                                        <i><img src="/images/screen.png" alt="#"></i>
                                        <h6>Screen</h6>
                                        <p>6.4-inch borderless
                                            <br/> screen</p>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 icon_item">

                                        <i><img src="/images/resolution.png" alt="#"></i>
                                        <h6>Resolution</h6>
                                        <p>4K Ultra HD recording
                                            <br/> resolution</p>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">
                                        <ul class="specs">
                                            <li>Dimensions</li>
                                            <li><span>Width</span><span>75 mm</span></li>
                                            <li><span>Height</span><span>158.04mm</span></li>
                                            <li><span>Thickness</span><span>7.25mm</span></li>
                                            <li><span>Weight</span><span>165 g</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

                                        <ul class="specs">
                                            <li>Included</li>
                                            <li><span>Cable</span><span>Yes</span></li>
                                            <li><span>Charger</span><span>Yes</span></li>
                                            <li><span>Earphones</span><span>Yes</span></li>
                                            <li><span>Instructions</span><span>Yes</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

                                        <ul class="specs">
                                            <li>Battery</li>
                                            <li><span>Battery</span><span>3600 mAh non-removable</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">
                                        <ul class="specs">
                                            <li>Operating system</li>
                                            <li><span>Operating system</span><span>iOS</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

                                        <ul class="specs">
                                            <li>Processor system</li>
                                            <li><span>Processor</span><span>Octa-Core Qualcomm Snapdragon 675</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

                                        <ul class="specs">
                                            <li>Accessibility</li>
                                            <li><span>Hearing aid compatible (HAC)</span><span>Yes</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

                                        <ul class="specs">
                                            <li>Connectivity</li>
                                            <li><span>Maximum speed</span><span>600 Mbps</span></li>
                                            <li><span>LTE frequencies</span><span>1 / 2 / 4 / 5 / 7 / 8 / 12 / 13 / 17 / 20 / 25 / 26</span></li>
                                            <li><span>3G frequencies</span><span>28 / 30 / 38 / 40 / 41 / 66 / 71 / 850 / 1700-2100 / 1900 / 2100</span></li>
                                            <li><span>2G frequencies</span><span>800 / 1900 / 2100</span></li>
                                            <li><span>Wi-Fi</span><span>802.11 a/b/g/n/ac</span></li>
                                            <li><span>GPS</span><span>Yes</span></li>
                                            <li><span>Bluetooth</span><span>5.0</span></li>
                                            <li><span>USB</span><span>USB-C</span></li>
                                            <li><span>SIM card format</span><span>Nano Sim</span></li>
                                            <li><span>TTY/ATS</span><span>Yes</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

                                        <ul class="specs">
                                            <li>Connectivity</li>
                                            <li><span>Maximum speed</span><span>600 Mbps</span></li>
                                            <li><span>LTE frequencies</span><span>1 / 2 / 4 / 5 / 7 / 8 / 12 / 13 / 17 / 20 / 25 / 26</span></li>
                                            <li><span>3G frequencies</span><span>28 / 30 / 38 / 40 / 41 / 66 / 71 / 850 / 1700-2100 / 1900 / 2100</span></li>
                                            <li><span>2G frequencies</span><span>800 / 1900 / 2100</span></li>
                                            <li><span>Wi-Fi</span><span>802.11 a/b/g/n/ac</span></li>
                                            <li><span>GPS</span><span>Yes</span></li>
                                            <li><span>Bluetooth</span><span>5.0</span></li>
                                            <li><span>USB</span><span>USB-C</span></li>
                                            <li><span>SIM card format</span><span>Nano Sim</span></li>
                                            <li><span>TTY/ATS</span><span>Yes</span></li>
                                        </ul>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-2">
                            <h5 class="mb-0">
        <a id="coll" class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
          Presentation
        </a>
      </h5>
                        </div>
                        <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                            <div class="card-body">

                                <img src="/images/presentation.jpg" alt="Presantation" />

                            </div>
                        </div>
                    </div>

                </div>

                <h3 class="acc">You'll also like</h3>



                <div class="products-carousel">


<div>
                <div class="product-item">
                    <img src="/images/phone.png" alt="#">
                    <div class="phone-card">
                        <div class="phone-card-content">
                            <h3>Google Pixel 3a</h3>
                            <span>$349<sub>95</sub></span>
                            <badge>Temporary of stock</badge>
                            <button>Buy this phone</button>
                        </div>
                    </div>
                </div>
            </div>





<div>
                <div class="product-item">
                    <img src="/images/phone.png" alt="#">
                    <div class="phone-card">
                        <div class="phone-card-content">
                            <h3>Google Pixel 3a</h3>
                            <span>$349<sub>95</sub></span>
                            <badge>Temporary of stock</badge>
                            <button>Buy this phone</button>
                        </div>
                    </div>
                </div>
            </div>



<div>
                <div class="product-item">
                    <img src="/images/phone.png" alt="#">
                    <div class="phone-card">
                        <div class="phone-card-content">
                            <h3>Google Pixel 3a</h3>
                            <span>$349<sub>95</sub></span>
                            <badge>Temporary of stock</badge>
                            <button>Buy this phone</button>
                        </div>
                    </div>
                </div>
            </div>




<div>
                <div class="product-item">
                    <img src="/images/phone.png" alt="#">
                    <div class="phone-card">
                        <div class="phone-card-content">
                            <h3>Google Pixel 3a</h3>
                            <span>$349<sub>95</sub></span>
                            <badge>Temporary of stock</badge>
                            <button>Buy this phone</button>
                        </div>
                    </div>
                </div>
            </div>



<div>
                <div class="product-item">
                    <img src="/images/phone.png" alt="#">
                    <div class="phone-card">
                        <div class="phone-card-content">
                            <h3>Google Pixel 3a</h3>
                            <span>$349<sub>95</sub></span>
                            <badge>Temporary of stock</badge>
                            <button>Buy this phone</button>
                        </div>
                    </div>
                </div>
            </div>



<div>
                <div class="product-item">
                    <img src="/images/phone.png" alt="#">
                    <div class="phone-card">
                        <div class="phone-card-content">
                            <h3>Google Pixel 3a</h3>
                            <span>$349<sub>95</sub></span>
                            <badge>Temporary of stock</badge>
                            <button>Buy this phone</button>
                        </div>
                    </div>
                </div>
            </div>



<div>
                <div class="product-item">
                    <img src="/images/phone.png" alt="#">
                    <div class="phone-card">
                        <div class="phone-card-content">
                            <h3>Google Pixel 3a</h3>
                            <span>$349<sub>95</sub></span>
                            <badge>Temporary of stock</badge>
                            <button>Buy this phone</button>
                        </div>
                    </div>
                </div>
            </div>





                </div>


                <!-- Main : End -->

            </div>

        </div>
<div class="foot"></div>




<div id="bottom-boxes">
<div class="container">
<div class="row">
    <div class="col-lg-4">
      <div class="thumb"><img src="/images/icon-delivery.png" alt="#" /></div>
      <h5>3 days free delivery</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-lg-4">
      <div class="thumb"><img src="/images/icon-payment.png" alt="#" /></div>
      <h5>Warrenty 6 months</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-lg-4">
      <div class="thumb"><img src="/images/icon-experts.png" alt="#" /></div>
      <h5>Warrenty 6 months</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>
</div>
</div>




<div class="fixed-bottom price-status show">


<div class="mask">
    <div class="head">
        <span>Hi Sebastien. You've already racked up a few rewards.</span>
        <i></i>
    </div>
    <div class="content">
        <span class="title">Why not use them for this purchase?</span>
        <div class="item">
            <strong>$50</strong>
            <span>de rabais a l'achat<br />de votre telephone</span>
            <small>15 day left</small>
        </div>
        <div class="item">
            <strong>$50</strong>
            <span>de rabais a l'achat<br />de votre telephone</span>
            <small>15 day left</small>
        </div>
    </div>



</div>

<div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-12 pt-3">

        <div class="d-flex justify-content-between align-items-center">
          <p>(taxes not included)</p>
          <h3 class="price-status-value">Your phone <span class="dollar-sign align-middle">$379</span></h3>
        </div>


      </div>
    </div>

</div>





<script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
<link href="https://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet">
<link href="https://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet">




<script type="text/javascript">


$('.mask .head').click(function() {
    $('.mask .content').toggle();
    $('.mask .head i').toggleClass('rotate');
});


$('.mask .item').click(function() {
    $('.mask .item').toggleClass('selected');
});


            // In your Javascript (external .js resource or <script> tag)
            $(document).ready(function() {
                //$('.js-example-basic-single').select2();


$("#features_scroll").click(function (){
    $('html, body').animate({
        scrollTop: $("#collapse-1").offset().top
    }, 1000);
});


$("#presentation_scroll").click(function (){

    $('#collapse-2').toggleClass('show');

    $('html, body').animate({
        scrollTop: $("#collapse-2 img").offset().top
    }, 1000);
});



$('.products-carousel').slick({
  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 3,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});






            });
        </script>


<style>

ul,li{
    list-style-type: none;
    padding: 0;
}
img{
    max-width: 100%;
}
/*---------------------------------------------------------------------------*/

#pdp-dashboard .big {
    float: left;
    width: 100%;
    text-align: center;
}

#pdp-dashboard .thumb {
    float: left;
    width: 100%;
    margin: 40px 0 0 0;
    text-align: center;
}

#pdp-dashboard .thumb li {
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: 0 10px 0 0;
    border: 1.5px solid #DCDCE6;
    border-radius: 6px;
}

#pdp-dashboard .thumb li img {
    float: left;
    width: 85px;
    height: 85px;
    margin: 3px;
}

#pdp-dashboard .thumb li:hover,
#pdp-dashboard .thumb .active {
    border: 1.5px solid #0000CF;
}

#pdp-dashboard h1 {
    font-weight: bold;
}

#pdp-dashboard .subtitle-links {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.53px;
    line-height: 22px;
}

#pdp-dashboard .subtitle-links li {
    float: left;
    width: 50%;
    padding: 50px 0;
}

#pdp-dashboard .subtitle-links li a {
    color: #001CC3;
    text-decoration: underline;
}

#pdp-dashboard .subtitle-links li a:hover {
    text-decoration: none;
}

#pdp-dashboard .subtitle-links li:last-child {
    padding-left: 30px;
}

#pdp-dashboard .choose {
    float: left;
    width: 50%;
}

#pdp-dashboard .choose legend {
    color: #191919;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 24px;
}

#pdp-dashboard .choose ul {
    margin-top: 15px;
}

#pdp-dashboard .choose li {
    float: left;
    margin: 0 15px 0 0;
    border: 2px solid #dddce6;
    border-radius: 100%;
}

#pdp-dashboard .choose li a {
    float: left;
    width: 21px;
    height: 21px;
    margin: 2px;
    border-radius: 100%;
}

#pdp-dashboard .choose .black {
    background: #000;
}

#pdp-dashboard .choose .white {
    background: #f0eff7;
}

#pdp-dashboard .choose .gray {
    background: #c1c1c1;
}

#pdp-dashboard .choose .gold {
    background: #d4bba3;
}

#pdp-dashboard .choose .rose {
    background: #b66d78;
}

#pdp-dashboard .choose .red {
    background: #cc3440;
}

#pdp-dashboard .choose p {
    float: left;
    width: 100%;
    margin: 10px 0 30px 0;
    color: #191919;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 14px;
}

#pdp-dashboard .choose span {
    float: left;
    width: 100%;
    margin: 30px 0 50px 0;
    color: #FD8E1F;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.44px;
    line-height: 14px;
}

.select2-inner {
    float: right;
    width: 30%;
    margin: 45px 0 0 0;
}

#pdp-dashboard .choose-payment {
    float: left;
    width: 100%;
}

#pdp-dashboard .choose-payment legend {
    color: #191919;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 24px;
}

.form-radio-block label:not(.close-label),
.form-checkbox-block label:not(.close-label),
.form-checkbox-block div.input-container {
    position: relative;
    color: #73737d;
    border: 1.5px solid #dcdce6;
    border-radius: 6px;
    background-color: #f5f5fa;
    margin-bottom: 0
}

.form-radio-block label:not(.close-label):hover,
.form-checkbox-block label:not(.close-label):hover,
.form-checkbox-block div.input-container:hover {
    background-color: #e6e6fa;
    cursor: pointer
}

.form-radio-block label:not(.close-label)>.fi-circle,
.form-checkbox-block label:not(.close-label)>.fi-circle,
.form-checkbox-block div.input-container>.fi-circle {
    display: none
}

.form-radio-block>input[type=radio]:checked+label,
.form-checkbox-block>input[type=checkbox]:checked+label {
    border: 1.5px solid #3259EE;
    background-color: #e6e6fa;
    color: #191919
}

.form-radio-block>input[type=radio]:checked+label>.fi-circle,
.form-checkbox-block>input[type=checkbox]:checked+label>.fi-circle {
    display: inline-block;
    position: absolute;
    top: -16px;
    right: -16px
}

.form-radio-block>input[type=radio]:disabled+label,
.form-checkbox-block>input[type=checkbox]:disabled+label {
    background-color: #f5f5fa;
    cursor: auto;
    color: #B4B4B4
}

.fi-fill-white {
    stroke: none;
    fill: #fff
}

.fi-circle {
    background-color: #d6d6dc;
    display: inline-block;
    position: relative
}

.fi-circle>svg {
    position: absolute;
    top: 8px;
    left: 8px
}

.fi-circle-16 {
    height: 32px;
    width: 32px;
    border-radius: 16px
}

.fi-circle-24 {
    height: 40px;
    width: 40px;
    border-radius: 20px
}

.fi-circle-32 {
    height: 48px;
    width: 48px;
    border-radius: 24px
}

.fi-circle-48 {
    height: 64px;
    width: 64px;
    border-radius: 32px
}

.fi-circle-electric-blue {
    background: #3259EE
}

.btn {
    height: 46px;
    width: 136px;
    border-radius: 23px;
    background-color: #00D672;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-xxl {
    padding: 1.25rem 3rem;
    border-radius: 1.8rem;
}
/*
.btn {
    margin-bottom: .75rem;
    font-size: 14px !important;
}*/
#bottom {
    margin-top: 30px;
    padding: 45px;
    background-color: #F5F5FA;
}

#accordion .card {
    background: #fff;
    margin-bottom: 30px;
    border: 0 none;
}

#accordion .card-header {
    height: 60px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(150, 150, 150, 0.18);
    border: 0 none !important;
    padding: 1.2rem 30px;
}

#accordion .card-header a {
    color: #181C23;
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    display: block;
    position: relative;
}

#accordion .card-header a:hover {
    text-decoration: none;
}

#accordion .card-header h5 a:after {
    content: "\f078";
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
}

#accordion .card-header h5 a[aria-expanded="true"]:after {
    content: "\f077";
}
#accordion h4 {
    color: #181C23;
    font-weight: bold;
    line-height: 24px;
    font-size: 19px;
}

.icon_item {
    padding: 45px 0 0 0;
    text-align: center;
}

.icon_item i {
    display: inline-block;
    min-height: 50px;
}

.icon_item h6 {
    font-weight: bold;
    font-size: 19px;
    width: 100%;
    padding: 7px 0;
}

.icon_item p {
    font-size: 80%;
}

.specs {
    padding: 0 0 50px 50px;
}

.specs li:first-child {
    color: #191919;
    font-size: 19px;
    font-weight: bold;
    line-height: 23px;
    padding: 0 0 18px 0;
    margin-bottom: 18px;
    border-bottom: 2px solid #979797;
}

.specs li span {
    float: left;
    width: 50%;
    font-size: 85%;
}

h3.acc{
    color: #191919;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 30px;
    margin: 50px 0px -10px 0;

}


.products-carousel{
    margin: 30px 0 0 0;
    width: 102%;
}











.product-item{
    text-align: center;
    margin-bottom: 30px;
    padding: 30px 0;
    margin: 0 20px 0 0;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);
}
.product-item:hover{
/*
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 6px;
    background-color: #BAEAFA;
    box-shadow: 0px 50px 60px 24px rgba(0,0,0,0.15);
    transition: .5s ease-in-out;
*/


    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);
    transition: .5s ease-in-out;
    background-color: #BAEAFA;




}

.phone-card{
    padding: 0 20px;
}
.phone-card-content{
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 20px;
}
.product-item:hover .phone-card-content{
    margin-top: -75px;
    position: relative;
    padding: 50px 0px;


}
.product-item:hover button{
    display: inline-block;
    margin: 15px 0 0 0;




    height: 45px;
    border-radius: 18px;
    padding: 10px 25px;
    color: #191919;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.37px;
    line-height: 10px;
    text-align: center;



        border-radius: 26px;
        background-color: #00D672;







}

.product-item:hover badge{
    display: none;
}




.product-item img{
    margin-bottom: 30px;
    margin: 0 auto;
}
.product-item h3{
    color: #191919;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.59px;
    line-height: 19px;
    text-align: center;
}
.product-item span{
    display: inline-block;
    width: 100%;
    color: #191919;
    font-size: 41px;
    font-weight: bold;
    letter-spacing: 0.58px;
    line-height: 49px;
    text-align: center;
    padding: 15px 0 0 0;
}
.product-item span sub{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.58px;
    line-height: 29px;
    text-align: center;
    position: relative;
    top: -20px;

    /*
    height: 24px;
    width: 32px;
    color: #191919;

*/



}


.product-item badge{
    margin: 15px 0 0 0;
    display: inline-block;
    height: 30px;
    border-radius: 18px;
    background-color: #BAEAFA;
    padding: 10px 25px;






    color: #191919;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.37px;
    line-height: 10px;
    text-align: center;







}

.product-item button{
    display: none;
}



.foot{
    min-height: 88px;
    padding: 0% 0 0 0;
    background: url(/images/bottom.png) top center no-repeat;
    background-size: 100%;
}


#bottom-boxes{
    text-align: center;
    margin-bottom: 30%;
}
#bottom-boxes .thumb{
    height: 75px;
}
#bottom-boxes h5{
    font-size: 18px;
    color: #191919;
    font-weight: bold;
    padding: 10px 0 0 0;
}
#bottom-boxes p{
    padding: 0 15%;
    font-size: 85%;
}
.slick-prev, .slick-next{
    width: 13px !important;
    height: 24px !important;
}



.slick-prev{
    background: url(/images/arrow-left.png) center center no-repeat !important;
}
.slick-next{
    background: url(/images/arrow-right.png) center center no-repeat !important;
}


.slick-prev:before
{
    content: '' !important;
}
[dir='rtl'] .slick-prev:before
{
    content: '' !important;
    background: url(/images/arrow-left.png) !important;
}
.slick-next:before
{
    content: '' !important;
}
[dir='rtl'] .slick-next:before
{
    content: '' !important;
    background: url(/images/arrow-right.png) !important;
}
.price-status.show {
    max-height: 80px;
    transition: all 1s ease;
}
.price-status {
    max-height: 0px;
    background: #fff;
    -webkit-box-shadow: 0px -3px 38px -7px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px -3px 38px -7px rgba(0,0,0,0.26);
    box-shadow: 0px -3px 38px -7px rgba(0,0,0,0.26);
    transition: all 1s ease;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.fixed-bottom p{
    padding: 5px 0 0 45px;
    color: #191919;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 16px;



}

.fixed-bottom .price-status-value{
    color: #191919;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.59px;
    line-height: 19px;
    text-align: right;
    padding-right: 45px;
}
.fixed-bottom .dollar-sign{
    color: #00D672;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.58px;
    line-height: 36px;
    text-align: center;
    padding-left: 35px;
}
.mask{
    position: absolute;
    width: 460px;
    bottom: 60px;
    right: 45px;
    padding: 10px 25px;
    color: #fff;
    background: url(/images/bg-perk-blue.png);
    box-shadow: 0 1px 40px 0 rgba(191,191,191,0.5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.mask .head{
    cursor: pointer;
    font-weight: bold;
}
.mask .head i{
    display: inline-flex;
    width: 10px;
    height: 6px;
    margin: -5px 0 0 20px;
    background: url(/images/arrow-up.png);
}
.mask .head .rotate{
    transform: rotate(180deg);
}
.mask .content{
    display: none;
}
.mask .content .title{
    display: block;
    width: 100%;
    padding: 10px 0;
}
.mask .item{
    display: inline-block;
    width: 165px;
    height: 100px;
    margin-right: 15px;
    background: url(/images/bg-vawe.png);
    background-size: cover;
    border-radius: 11px;
    cursor: pointer;
}

.mask .item strong,
.mask .item span,
.mask .item small{
    float: left;
    width: 100%;
}
.mask .item strong{
    padding: 10px 0 0 10px;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -0.72px;
    line-height: 35px;
}
.mask .item span{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 5px 0 5px 10px;
}
.mask .item small{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 0 0 10px;
}

.mask .selected{
    display: inline-block;
    width: 165px;
    height: 100px;
    margin-right: 15px;
    background: url(/images/bg-vawe-selected.png);
    background-size: cover;
    border-radius: 11px;
}
.mask .selected strong,
.mask .selected span,
.mask .selected small{
    opacity: 0.5;
}



@media (max-width: 568px){
    #pdp-dashboard h1{
        padding: 30px 0 20px 0;
        font-size: 150%;
        text-align: center;
    }
    #pdp-dashboard .subtitle-links li{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    #pdp-dashboard .subtitle-links li:last-child{
        padding: 0;
    }
    #pdp-dashboard .choose{
        width: 100%;
    }
    .select2-inner{
        float: left;
        width: 50%;
        margin: 0;
    }
    #pdp-dashboard .choose span{
        margin: 0;
        display: none;
    }
    .btn-primary{
        width: 100%;
    }
    #bottom{
        padding: 15px 0;
    }
    #accordion .card-header{
        height: auto;
    }
    #accordion h4{
        display: none;
    }
    .specs{
        padding: 0;
    }
    #pdp-dashboard .thumb{
        display: none;
    }
    #pdp-dashboard .choose legend{
        padding: 30px 0 20px 0;
    }
    #pdp-dashboard .choose-payment{
        padding: 30px 0;
    }
    .mask{
        width: 100%;
        right: 0;
        left: 0;
        background-size: cover;
    }
}
@media (max-width: 568px){
    .mask .item{
        width: 145px;
    }
}





/** Custom Select **/
.center{
    position: relative;
    z-index: 888;
    margin: 0 50px 0 0;
    float: right;
}
.custom-select-wrapper {
	position: relative;
	display: inline-block;
	user-select: none;
}

.custom-select-wrapper select {
	display: none;
}

.custom-select {
	position: relative;
	display: inline-block;
	padding: 0;
	height: 50px;
	border: 0 none;
    font-size: 15px;
    font-weight: bold;
    color: #333943;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
}

.custom-select-trigger {
	position: relative;
	display: block;
	width: 220px;
	height: 50px;
    padding: 10px 0 0 20px;
	border: 1px solid #CFD0D7;
	border-radius: 6px;
	cursor: pointer;
	background: #fff !important;
}

.custom-select-trigger:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	top: 50%;
	right: 25px;
	margin-top: -3px;
	border-bottom: 2px solid #191919;
	border-right: 2px solid #191919;
	transform: rotate(45deg) translateY(-50%);
	transition: all .4s ease-in-out;
	transform-origin: 50% 0;
}

.custom-select.opened {
	background: #fff;
	box-shadow: -2px -2px 46px 8px rgba(228, 228, 228, 1);
}

.opened .custom-select-trigger {
	background: #fff;
	border: 0 !important;
	z-index: 9;
	position: relative;
}

.custom-select .opened .custom-select-trigger {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.custom-select.opened .custom-select-trigger:after {
	margin-top: 3px;
	transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
	position: absolute;
	display: block;
	top: 98%;
	left: 0;
	right: 0;
	min-width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-sizing: border-box;
	box-shadow: -2px -2px 46px 8px rgba(228, 228, 228, 1);
	background: #fff;
	transition: all .4s ease-in-out;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
	padding: 20px 15px 15px 15px;
}

.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}

.option-hover:before {
	background: #f9f9f9;
}

.custom-option {
	position: relative;
	display: block;
	cursor: pointer;
	padding: 15px;
	font-size: 13px;
	transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
	border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
	border-bottom: 0;
	border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
	color: #3f28cf;
	background: #eae9fa;
	border-radius: 50px;
}







</style>
