{% include "organisms-top-navigation-logged-in-fixed-top" %}

<div class="bg-lightest-gray pb-70 pt-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Your phone</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-2 pt-20 pb-20"><img class="img-fluid" src="https://bookmark-css.s3.amazonaws.com/images/devices/iphone.png" alt="iPhone" width="40" /></div>
                        <div class="col-lg-8 text-left">
                            <h6>Apple iPhone 7</h6>
                            <p class="text-muted">Jet Black
                                <br />32 GB</p>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray">
                                <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                            </svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pt-3 pb-3">
                <h4>Select an action</h4>
                <button type="button" class="btn btn-form-collapse w-100 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-lg-10 text-left pt-3">
                            <p class="text-muted">Order phone (with discount)</p>
                        </div>
                        <div class="col-lg-2 btn-form-collapse-edit">
                            <svg class="fi fi-32 fi-light-gray">
                                <use xlink:href="/images/icons/feather-sprite.svg#edit-2" href="/images/icons/feather-sprite.svg#edit-2"></use>
                            </svg>
                            <span class="text-uppercase d-block">EDIT</span>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>
</div>

<div class="container py-50 py-md-120">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <h4>Select a phone swap</h4>

            <div class="row">

                <div class="card card-accordion my-3 w-100">
                    <a class="collapsed" data-toggle="collapse" role="button" aria-expanded="false" data-target="#collapse273101372" aria-controls="collapse273101372">
                        <div class="accordion-header d-flex p-4 px-md-5 align-items-center">
                            <div class="col-11 p-0">
                                <p class="h5">Select in the list</p>
                            </div>
                            <div class="col-1 p-0 text-center">
                                <div class="accordion-chevron-down">
                                    <svg class="fi fi-32 fi- ">
                                        <use xlink:href="/images/icons/feather-sprite.svg#chevron-down" href="/images/icons/feather-sprite.svg#chevron-down"></use>
                                    </svg>
                                </div>
                                <div class="accordion-chevron-up">
                                    <svg class="fi fi-32 fi- ">
                                        <use xlink:href="/images/icons/feather-sprite.svg#chevron-up" href="/images/icons/feather-sprite.svg#chevron-up"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="accordion-body collapse" id="collapse273101372" style="">
                        <div class="px-md-5">

                            <p><strong>Please select in the list:</strong></p>

                            <div class="col-12 px-0">
                                <div class="form-radio-block d-flex my-2 my-md-3">
                                    <input class="sr-only" type="radio" name="radioOptions" id="radio1" value="option1">
                                    <label class="align-self-center w-100 text-center py-4" for="radio1">
                                        <p class="pt-3"><strong>IMEI Number:</strong> 1234567890</p>

                                        <span class="fi-circle fi-circle-16 fi-circle-electric-blue"><svg class="fi fi-16 fi-white"><use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use></svg></span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 px-0">
                                <div class="form-radio-block d-flex my-2 my-md-3">
                                    <input class="sr-only" type="radio" name="radioOptions" id="radio2" value="option2">
                                    <label class="align-self-center w-100 text-center py-4" for="radio2">
                                        <p class="pt-3"><strong>IMEI Number:</strong> 1234567890</p>

                                        <span class="fi-circle fi-circle-16 fi-circle-electric-blue"><svg class="fi fi-16 fi-white"><use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use></svg></span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 px-0">
                                <div class="form-radio-block d-flex my-2 my-md-3">
                                    <input class="sr-only" type="radio" name="radioOptions" id="radio3" value="option3">
                                    <label class="align-self-center w-100 text-center py-4" for="radio3">
                                        <p class="pt-3"><strong>IMEI Number:</strong> 1234567890</p>

                                        <span class="fi-circle fi-circle-16 fi-circle-electric-blue"><svg class="fi fi-16 fi-white"><use xlink:href="/images/icons/feather-sprite.svg#check" href="/images/icons/feather-sprite.svg#check"></use></svg></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center mt-5 mb-5">
                <button type="button" class="btn btn-primary btn-lg icon-right" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-1430600920" aria-expanded="false">
                    <div class="d-flex">
                        <span>Save</span>
                        <svg class="fi fi-16 fi- ">
                            <use xlink:href="/images/icons/feather-sprite.svg#arrow-right" href="/images/icons/feather-sprite.svg#arrow-right"></use>
                        </svg>
                    </div>
                </button>
            </div>

        </div>
    </div>
</div>
