<div class="alert alert-success-v2 alert-dismissible fade show text-center" role="alert">
  {% include "atoms-icon" with {size:'24' } %}
  <p class="alertmsg text-center">Success!</p>
  <p class="text-center text-md-left mb-0 pl-md-3">You successfully read this important alert message.</p>
  {% include "atoms-button-close" %}
</div>