<div class="alert alert-warning-v2 alert-dismissible fade show text-center" role="alert">
  {% include "atoms-icon" with {size:'24' } %}
  <p class="alertmsg text-center">{{ mobileText|default('Warning!') }}</p>
  <p class="text-center text-md-left mb-0 pl-md-3">{{ notificationText|default("Better check yourself, you're not looking too good.")}}</p>
  {% include "atoms-button-close" %}
</div>