<div class="alert alert-dark alert-dismissible fade show text-center" role="alert">
  {% include "atoms-icon" with {size:'24' } %}
  <div>
    <p class="alertmsg text-center">Oops!</p>
    <p class="text-center text-md-left pl-md-3">This alert needs your attention, but it's not super important</p>
    <p class="text-center text-md-left text-muted small mb-0 pl-md-3">And here some more info</p>
  </div>
  {% include "atoms-button-close-white" %}
</div>