<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #00d672;"></span>
		<span class="sg-label">
			$green <br />
			#00d672
		</span>
  </li>  
  <li>
    <span class="sg-swatch" style="background: #191919;"></span>
		<span class="sg-label">
			$black <br />
			#191919
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
			$white <br />
			#ffffff
		</span>
  </li>
</ul>  