<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #3259EE;"></span>
		<span class="sg-label">
			$electric-blue <br />
			#3259EE
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #5A1B04;"></span>
		<span class="sg-label">
			$dark-brown <br />
			#5a1b04
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fd8e1f;"></span>
		<span class="sg-label">
			$orange <br />
			#fd8e1f
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6b47fe;"></span>
		<span class="sg-label">
			$mid-purple <br />
			#6b47fe
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #351a5a;"></span>
		<span class="sg-label">
			$dark-purple <br />
			#351a5a
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #43041e;"></span>
		<span class="sg-label">
			$dark-red <br />
			#43041e
		</span>
  </li>
</ul>  