<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #f5f5fa;"></span>
		<span class="sg-label">
			$lightest-gray <br />
			#f5f5fa
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f0f0fa;"></span>
		<span class="sg-label">
			$lighter-gray <br />
			#f0f0fa
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #dcdce6;"></span>
		<span class="sg-label">
			$light-gray <br />
			#dcdce6
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d6d6dc;"></span>
		<span class="sg-label">
			$gray <br />
			#d6d6dc
		</span>
  </li>
</ul>  