<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #73737d;"></span>
		<span class="sg-label">
			$compliment-gray <br />
			#73737d
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #50505a;"></span>
		<span class="sg-label">
			$darker-gray <br />
			#50505a
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3c3c46;"></span>
		<span class="sg-label">
			$darker-gray-text <br />
			#3c3c46
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1e1e23;"></span>
		<span class="sg-label">
			$darkest-gray <br />
			#1e1e23
		</span>
  </li>
</ul>  