<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ff5a23;"></span>
		<span class="sg-label">
			$bright-orange <br />
			#ff5a23
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7341f0;"></span>
		<span class="sg-label">
			$electric-purple <br />
			#7341f0
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #96288c;"></span>
		<span class="sg-label">
			$purple <br />
			#96288c
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffa028;"></span>
		<span class="sg-label">
			$yellow <br />
			#ffa028
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ff463c;"></span>
		<span class="sg-label">
			$red <br />
			#ff463c
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ff6964;"></span>
		<span class="sg-label">
			$faded-red <br />
			#ff6964
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fef4a8;"></span>
		<span class="sg-label">
			$faded-yellow <br />
			#fef4a8
		</span>
  </li>
</ul>  