<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #007ab3;"></span>
		<span class="sg-label">
			$blue <br />
			#007ab3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5faff;"></span>
		<span class="sg-label">
			$lightest-blue <br />
			#f5faff
		</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #f2fcff;"></span>
		<span class="sg-label">
			$light-blue <br />
			#f2fcff
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #001cc3;"></span>
		<span class="sg-label">
			$link-blue <br />
			#001cc3
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1a2c47;"></span>
		<span class="sg-label">
			$dark-blue <br />
			#1a2c47
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3259EE;"></span>
		<span class="sg-label">
			$vibrant-blue <br />
			#3259EE
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e6e6fa;"></span>
		<span class="sg-label">
			$faded-blue <br />
			#e6e6fa
		</span>
  </li>
</ul>  