<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #dcfade;"></span>
		<span class="sg-label">
			$light-green <br />
			#dcfade
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00d672;"></span>
		<span class="sg-label">
			$green <br />
			#00d672
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00ab5b;"></span>
		<span class="sg-label">
			$mid-green <br />
			#00ab5b
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #005b3c;"></span>
		<span class="sg-label">
			$dark-green <br />
			#005b3c
		</span>
  </li>
</ul>  