<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: linear-gradient(to right, #8ca0fa, #001cc3);"></span>
		<span class="sg-label">
			Blue gauge <br />
			#8ca0fa to #001cc3
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: linear-gradient(to right, #001cc3, #96288c);"></span>
		<span class="sg-label">
			Purple gauge <br />
			#001cc3 to #96288c
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: linear-gradient(to right, #96288c, #ff463c);"></span>
		<span class="sg-label">
			Red gauge <br />
			#96288c to #ff463c
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: linear-gradient(#191c52, #323778);"></span>
		<span class="sg-label">
			Dark blue <br />
			#191c52 to #323778
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: linear-gradient(#001cc3, #2382ff);"></span>
		<span class="sg-label">
			Blue <br />
			#001cc3 to #2382ff
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: linear-gradient(#f5faff, #bef0ff);"></span>
		<span class="sg-label">
			Light blue <br />
			#f5faff to #bef0ff
		</span>
  </li>
</ul>  