<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #00d672;"></span>
		<span class="sg-label">
			$fizz-green <br />
			#00d672
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
			$fizz-white <br />
			#ffffff
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #191919;"></span>
		<span class="sg-label">
			$fizz-black <br />
			#191919
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3259ed;"></span>
    <span class="sg-label">
      $fizz-blue <br />
      #3259ed
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ff5445;"></span>
    <span class="sg-label">
      $fizz-red <br />
      #ff5445
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffde1a;"></span>
    <span class="sg-label">
      $fizz-yellow <br />
      #ffde1a
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #560628;"></span>
    <span class="sg-label">
      $fizz-purple <br />
      #560628
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #1a2c47;"></span>
    <span class="sg-label">
      $fizz-dark-blue <br />
      #1a2c47
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #06473c;"></span>
    <span class="sg-label">
      $fizz-dark-green <br />
      #06473c
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #baeafa;"></span>
    <span class="sg-label">
      $fizz-light-blue <br />
      #baeafa
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d3d3cb;"></span>
    <span class="sg-label">
      $fizz-light-grey <br />
      #d3d3cb
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffc6c6;"></span>
    <span class="sg-label">
      $fizz-pink <br />
      #ffc6c6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: linear-gradient(#fff, #baeafa);"></span>
		<span class="sg-label">
			$gradient-light-blue <br />
			#fff to #baeafa
		</span>
  </li>
</ul>
