/*
 * === Tags ===
 */

.btn-tag-red{
  background-color: rgba($red,.2)  ;
  color:$red;
}
.btn-tag-purple{
  background-color: rgba($electric-purple,.2)  ;
  color:$electric-purple ;
}
.btn-tag-green{
  background-color: rgba($green,.2)  ;
  color:$green;
}
.btn-tag-blue{
  background-color: rgba($blue,.2)  ;
  color:$blue   ;
}
.btn-tag-yellow{
  background-color: rgba($yellow,.2)  ;
  color:$yellow ;
}

/*
 * === Numbers
 */
.alert-numbers{
  font-size: 44px;
}
.numbers-warning{
  color:$red;
}
.numbers-careful{
  color: $purple;
}
.numbers-dark{
  color: $black;
}
.numbers-ok{
  color:$link-blue;
}
.numbers-circle{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
}
.numbers-gray-bg{
  color: $white;
  background-color: $gray;
}
.numbers-stroke{
  border: 2px solid $black;
  line-height: 36px;
}