.signup-modal {
  max-width: 510px;
}

.btn-height-55 {
    height: 55px;
    border-radius: 30px;
}

.signup-modal .tooltip-input-right {
    position: absolute !important;
    top: 0;
    right: 0;
    padding: 1.2rem 1rem !important;
}

.btn-icon { 
    padding: 14px 18px 10px 18px !important;
    border-radius: 24px;
} 

.signup-modal .form-control { 
    font-size: 0.75rem; 
    background-color: #f6f6f8 !important; 
}
 
.btn-facebook { 
    background-color: #32569f; 
} 
 
.btn-instagram { 
    background-color: #ce000b; 
} 
 
.btn-linkedin { 
    background-color:#0078ba; 
} 
 
.btn-twitter { 
    background-color: #1DA1F2; 
} 
 
.btn-google { 
    background-color: #f13921; 
} 
 
.btn-yellow { 
    background-color: #ffba00; 
}

.signup-modal .tooltip-input { 
  padding: 1rem 1rem !important; 
} 
 
.underline { 
  text-decoration: underline; 
} 