.pt-34 {
  padding-top: 34px;
}

.py-13 {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.ml-3px {
  margin-left: 3px;
}

.mr--10 {
  margin-right: -10px !important;
}

.mb--20 {
  margin-bottom: -20px !important;
}

.mt--50 {
  margin-top: -50px !important;
}



.mt---5		{ margin-top: -5px !important; }
.mt--10		{ margin-top: 10px !important; }
.mb---5		{ margin-bottom: -5px !important; }
.mb--10		{ margin-bottom: 10px; }
.mr--10		{ margin-right: 10px; }
.mt--30     { margin-top: -30px; }
.mb--30		{ margin-top: 30px; }
.pl--50		{ padding-left: 50px; }
.pr--50		{ padding-right: 50px; }
.o-hidden	{ overflow: hidden; }
.ml--10    { margin-left: -10px; }
.ml--20    { margin-left: -20px; }
.plan-detail-mobile-padding{
	padding: 20px !important;
}
.mb---45    { margin-bottom: -45px;}
