<blockquote class="blockquote my-5 pt-3 pr-5 pb-1 pl-4">
  <p>"All this to say that you can add meaning, intention, and a tone just by picking the right colour. You just need to make sure you understand very well who you're designing for."</p>
</blockquote>