<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col text-laurel d-sm-block"></div>
    <div>
      <p class="text-muted text-uppercase px-3 py-2 d-block"><small>{{ text|default('Text-Laurel') }}</small></p>
    </div>
    <div class="col text-laurel d-sm-block"></div>
  </div>
</div>