<div class="hero-wrapper d-flex">
  <div class="hero {{ herobgcolor }} hero-50-hero50 d-flex align-items-center w-100 py-5">
    <div class="container d-flex w-100">
      <div class="row w-100">
        <div class="col-md col-lg-6">
          {% include "atoms-hero-half-square" %}
        </div>
        <div class="col-md col-lg-6">
          {% include "atoms-hero-half-square" %}
        </div>
      </div>  
    </div>
  </div>
</div>