<div class="hero-wrapper d-flex">
  <div class="text-50-text-50 {{ herobgcolor }} d-flex align-items-center w-100 py-5">
    <div class="container d-flex w-100">
      <div class="row w-100">
        <div class="col-md col-lg-6">
          <h2>Setting up your box is that easy</h2>
          <p>Here you can find out how to set up your phone and SIM so that you can start making calls, sending texts, and using the internet.</p>
          <a href="#" class="btn btn-success">Live chat for help</a>
        </div>
        <div class="col-md col-lg-6">
          <h2>Setting up your box is that easy</h2>
          <p>Here you can find out how to set up your phone and SIM so that you can start making calls, sending texts, and using the internet.</p>
          <a href="#" class="btn btn-success">Live chat for help</a>
        </div>
      </div>  
    </div>
  </div>
</div>