<div class="text-3-col {{ herobgcolor }}">
    <div class="container my-5 ">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <p>Lorem ipsum dolor sit amet, te sed rebum constituam, nobis luptatum consequuntur ut mea, tota mediocritatem vis ei. Eum illum dictas ei. Te sea fierent quaestio democritum, ei pro petentium ullamcorper. Eum ea expetenda forensibus. Vix quis essent doctus an, vel diam velit ne, clita graecis eu nam. His verear bonorum ei, eum ei reque luptatum deterruisset, tollit consulatu euripidis cu has. Mea ad maluisset gubergren.Lorem ipsum dolor sit amet, te sed rebum constituam, nobis luptatum consequuntur ut mea, tota mediocritatem vis ei. Eum illum dictas ei. Te sea fierent quaestio democritum, ei pro petentium ullamcorper. Eum ea expetenda forensibus. Vix quis essent doctus an, vel diam velit ne, clita graecis eu nam. His verear bonorum ei, eum ei reque luptatum deterruisset, tollit consulatu euripidis cu has. Mea ad maluisset gubergren.<br>
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <p>Lorem ipsum dolor sit amet, te sed rebum constituam, nobis luptatum consequuntur ut mea, tota mediocritatem vis ei. Eum illum dictas ei. Te sea fierent quaestio democritum, ei pro petentium ullamcorper. Eum ea expetenda forensibus. Vix quis essent doctus an, vel diam velit ne, clita graecis eu nam. His verear bonorum ei, eum ei reque luptatum deterruisset, tollit consulatu euripidis cu has. Mea ad maluisset gubergren.Lorem ipsum dolor sit amet, te sed rebum constituam, nobis luptatum consequuntur ut mea, tota mediocritatem vis ei. Eum illum dictas ei. Te sea fierent quaestio democritum, ei pro petentium ullamcorper. Eum ea expetenda forensibus. Vix quis essent doctus an, vel diam velit ne, clita graecis eu nam. His verear bonorum ei, eum ei reque luptatum deterruisset, tollit consulatu euripidis cu has. Mea ad maluisset gubergren.<br>
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <p>Lorem ipsum dolor sit amet, te sed rebum constituam, nobis luptatum consequuntur ut mea, tota mediocritatem vis ei. Eum illum dictas ei. Te sea fierent quaestio democritum, ei pro petentium ullamcorper. Eum ea expetenda forensibus. Vix quis essent doctus an, vel diam velit ne, clita graecis eu nam. His verear bonorum ei, eum ei reque luptatum deterruisset, tollit consulatu euripidis cu has. Mea ad maluisset gubergren.Lorem ipsum dolor sit amet, te sed rebum constituam, nobis luptatum consequuntur ut mea, tota mediocritatem vis ei. Eum illum dictas ei. Te sea fierent quaestio democritum, ei pro petentium ullamcorper. Eum ea expetenda forensibus. Vix quis essent doctus an, vel diam velit ne, clita graecis eu nam. His verear bonorum ei, eum ei reque luptatum deterruisset, tollit consulatu euripidis cu has. Mea ad maluisset gubergren.<br>
                </p>
            </div>
        </div>
    </div>
</div>