<div class="form-collapse-container collapse {{ classes }}" data-price-reveal="yes" data-terms-confirm-reveal="yes">
  <div class="py-50 bg-lightest-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          {% include 'organisms-price-summary-product' %}
      
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="d-flex py-4 align-items-center">
                {% include 'atoms-input-appended-button' %}
                <div class="pl-3">
                  {% include 'atoms-tooltip' with { title: '<strong>Were you invited by a friend?</strong> Enter their Referral Code here.'} %}
                </div>
              </div>
            </div>
          </div>
      
          {% include 'organisms-price-summary-tax' %}
        </div>  
      </div>  
    </div>  
  </div>
</div>