<input type="checkbox" name="{{ uuid|default('unique-id') }}" id="{{ uuid|default('unique-id') }}" class="toggle" {{ checkedStatus|default('checked') }}/>
<label for="{{ uuid|default('unique-id') }}" class="toggle-label" data-off="no" data-on="yes"></label>
