<div class="custom-control custom-radio">
  <input type="radio" id="{{ uuid|default('unique-id') }}" name="{{ formID|default('form-id') }}" class="custom-control-input">
  <label class="custom-control-label" for="{{ uuid|default('unique-id') }}">{{ label|default('Custom radio') }}</label>
</div>