<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="{{ uuid|default('unique-id') }}">
  <label class="custom-control-label" for="{{ uuid|default('unique-id') }}">{{ label|default('Custom checkbox') }}</label>
</div>