<div class="modal fade" id="modalzone{{ zoneNumber|default('1') }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-body text-center mt-5">
        <h2>Nice!</h2>
        <h4 class="text-muted">You just grew your Bbbb community.</h4>
        <p class="text-muted mb-10">As soon as your invitee subscribes and pays their second monthly bill, you’ll each get a $25 Referral Bonus.</p>
        <p class="text-muted mb-10">Bonuses are automatically applied to your next monthly bill. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary icon-right ml-auto mr-auto" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>