<div class="modal fade" id="modalzone{{ zoneNumber|default('1') }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-body text-center mt-5">
        <h4>Thank You for Giving your Data</h4>
        <h2 class="text-muted">Unlock Your Network</h2>
        <p class="text-muted mb-10">As soon that your contact get your gift!... you will get a notification telling you that he got your gift!.</p>
        <p class="text-muted mb-10">Make someone smile in under two minutes with our Gifting option.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary icon-right ml-auto mr-auto" data-dismiss="modal">Close X</button>
      </div>
    </div>
  </div>
</div>