<h5>Login</h5>
{% include "atoms-email" %}
{% include "atoms-input-password-icon-left-label-right" with { datatoggle: 'modal' , datatarget: '#modalForgotPassword'} %}
{% include "atoms-checkbox" with { label: 'Remember me' } %}
{% include "atoms-button-block" %}