<h2 class="text-center mb-4">Hi. How can we help you?</h2>
<img src="/images/solutionHub2.svg" class="d-flex col-12 col-sm-7 mx-auto">
<!-- <img src="/images/solutionHub2.svg" class="d-flex w-50 mx-auto"> -->
{% include 'atoms-global-search-colored' %}
<p class="text-center text-muted pt-3"><small>Popular help topics: <a href="#">Setting up my SIM card</a>, <a href="#">accessing your user profile</a></small></p>
