<h5>Create a new password</h5>
{% include "atoms-input-password-icon-left" with { placeholder: 'Enter new password'} %}
{% include "atoms-input-password-icon-left" with { placeholder: 'Enter new password (again)'} %}
{% include "atoms-checkbox" with { label: 'Remember me' } %}
{% include "atoms-button-block" with { buttonLabel: 'Log in'} %}