<h5>Sign up</h5>
{% include "atoms-input" with {  placeholder:'First Name'  } %}
{% include "atoms-input" with {  placeholder:'Last Name' } %}
{% include "atoms-email" %}
{% include "atoms-input-password" %}
{% include "atoms-checkbox" with { label: 'Remember me' } %}
{% include "atoms-button-block" with { buttonLabel: 'Sign up'} %}