<div class="card card-normal p-4 mb-5 w-100">

    <div class="mb-3">
      <h4 class="text-center">Level <span class="text-green">{{ level|default('7') }}</span></h4>
      <p class="text-muted text-center pb-2 level-advancement-data"><span class="text-green">1234</span>/5678 XP until next level</p>
      {% include 'atoms-progress-slider' with{gradientcolor:'green',classes:'progress-small'} %}
    </div>
    
    <div class="row">
      
      <div class="text-center p-3 col-12 col-sm">
        <h5>Upgrades</h6>
        <img class="img-fluid py-3" src="/images/badges/badge1.png" alt="Generic placeholder image">
        <p class="text-muted">Upgrades lorem ipsum</p>
      </div>
      
      <div class="text-center p-3 col-12 col-sm">
        <h5>Badges</h6>
        <img class="img-fluid py-3" src="/images/badges/badge2.png" alt="Generic placeholder image">
        <p class="text-muted">Last perk received</p>
      </div>
      
      <div class="text-center p-3 col-12 col-sm">
        <h5>Rewards</h6>
        <img class="img-fluid py-3" src="/images/badges/badge3.png" alt="Generic placeholder image">
        <p class="text-muted">Last badges received</p>
      </div>
      
    </div>
    
    <div class="py-3 text-center">
      {% include 'atoms-button' with { buttonLabel: 'View More', buttonColor: 'green' } %}
    </div>
</div>