<ul class="nav nav-perks mb-25" id="perks-tab" role="tablist">
  <li class="nav-item">
    <a class="pane-nav-link active" id="perks-InUse-tab" data-toggle="pill" href="#perks-InUse" role="tab" aria-controls="perks-InUse" aria-selected="true">In use</a>
  </li>
  <li class="nav-item">
    <a class="pane-nav-link" id="perks-Unlocked-tab" data-toggle="pill" href="#perks-Unlocked" role="tab" aria-controls="perks-Unlocked" aria-selected="false">Unlocked</a>
  </li>
  <li class="nav-item">
    <a class="pane-nav-link" id="perks-Expired-tab" data-toggle="pill" href="#perks-Expired" role="tab" aria-controls="perks-Expired" aria-selected="false">Expired</a>
  </li>
</ul>

<div class="tab-content" id="perks-perkContent">
  
  <div class="tab-pane fade show active" id="perks-InUse" role="tabpanel" aria-labelledby="perks-InUse-tab">
    <div class="perk-container d-flex flex-wrap justify-content-between">
      {% include 'organisms-loyaltyPerkCard' %}
      {% include 'organisms-loyaltyPerkCard' %}
      {% include 'organisms-loyaltyPerkCard' %}
    </div>
  </div>
  
  <div class="tab-pane fade" id="perks-Unlocked" role="tabpanel" aria-labelledby="perks-Unlocked-tab">
    <div class="perk-container d-flex flex-wrap justify-content-between">
      {% include 'organisms-loyaltyPerkCard' %}
      {% include 'organisms-loyaltyPerkCard' %}
      {% include 'organisms-loyaltyPerkCard' %}
    </div>
  </div>
  
  <div class="tab-pane fade" id="perks-Expired" role="tabpanel">
    <div class="perk-container d-flex flex-wrap justify-content-between">
      {% include 'organisms-loyaltyPerkCard' with {perkClasses:'perk-expired'} %}
      {% include 'organisms-loyaltyPerkCard' with {perkClasses:'perk-expired'} %}
      {% include 'organisms-loyaltyPerkCard' with {perkClasses:'perk-expired'} %}
    </div>
  </div>
</div>
