<div class="upgrade-collection fixed-bottom pr-md-5">
  <div class="card card-normal card-rounder card-bottom-fixed border-0">

    <div class="card-section card-header card-rounder card-bottom-fixed bg-dark-blue py-10 d-flex flex-column align-items-center" data-toggle="collapse" data-target=".upgradeCollectionPaneBody" aria-expanded="false">
      {% include 'atoms-icon' with{ icon:'chevron-up',color:'white',size:'24'} %}
      <h6 class="mb-1 fs-14">Upgrade Collection</h6>
    </div>
    <div class="card-section upgradeCollectionPaneBody collapse">

      {% include 'organisms-loyaltyUpgradesCollectionPane' %}

    </div>

  </div>
</div>
