{% include "@organisms/01-navigation/05-top-navigation-logged-in-fixed-top.twig" %}

<div class="py-50 py-md-120 bg-lightest-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <img src="http://via.placeholder.com/350x150" class="img-fluid d-block mx-auto mb-50">
        <h2 class="text-center">Your activation is almost complete!</h2>
        <p class="text-center text-muted">You will receive an SMS from Bookmark to confirm that you're all set up.</p>
        
        <div class="text-center mt-50">
          {% include "@atoms/02-buttons/20-button-icon-right.twig" with { buttonLabel: 'Take a tour of your user account', icon: 'arrow-right' } %}
        </div>
        
      </div>  
    </div>
  </div>  
</div>

<div class="pb-50 bg-lightest-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        
        <div class="row">
          
          <div class="col-12 col-md-4 mb-5">
            <div class="row">
              <div class="col-4 col-md-12">
                <img src="http://via.placeholder.com/125x125" class="img-fluid d-block mx-auto mb-3">
              </div>
              <div class="col-8 col-md-12">
                <h5 class="text-md-center">What you can do</h5>
                <p class="text-md-center text-muted">Use your data, access wifi, make phone calls, and send SMS.</p>
              </div>
            </div>  
          </div>
          
         <div class="col-12 col-md-4 mb-5">
           <div class="row">
             <div class="col-4 col-md-12">
               <img src="http://via.placeholder.com/125x125" class="img-fluid d-block mx-auto mb-3">
             </div>
             <div class="col-8 col-md-12">
               <h5 class="text-md-center">What you temporarily can't do</h5>
               <p class="text-md-center text-muted">Receive phone calls and receive SMS.</p>
               <hr>
               <p class="text-md-center"><strong>Did you know?</strong> <em>You can use Facebook Messenger or any other app in the meantime.</em></p>
             </div>
           </div>  
         </div>
         
         <div class="col-12 col-md-4 mb-5">
           <div class="row">
             <div class="col-4 col-md-12">
               <img src="http://via.placeholder.com/125x125" class="img-fluid d-block mx-auto mb-3">
             </div>
             <div class="col-8 col-md-12">
               <h5 class="text-md-center">And now!</h5>
               <p class="text-md-center text-muted">Insert your Bookmark SIM card if you haven't done it yet.</p>
             </div>
           </div>  
         </div>
            
        </div>
        
      </div>  
    </div>  
  </div>  
</div>

