{% extends 'organisms-dashboard-container' %}

{% block dashboardContent %}
  <div class="py-20">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 mb-5">
          <a class="text-muted d-flex align-item-center" href="#">
            {% include'atoms-icon-24' with {icon:'chevron-left',color:' text-muted'} %}My Profile
          </a>
        </div>

        <div class="col-12 text-center" style="margin-bottom: 40px;">
            <img class="img-fluid rounded" src="http://via.placeholder.com/250x130" alt="Generic placeholder image">
        </div>
        <div class="col-12 text-center mb-4">
          <h3>Invite friends to Bookmark</h3>
          <p>You’ll each earn a $25 Referral Bonus.
          <br>(Because one good turn deserves another.)</p>
        </div>
        <div class="col-12">
            <div class="col-12 text-center">
              <a href="{{ attribute(link, 'templates-ReferralGenerateYourCode') }}" class="col-sm-12 col-md-3 col-lg-3 btn btn-green btn-lg" style="padding-right: 50px; padding-left: 50px">{{ buttonNext|default('I\'m ready to go') }}</a>
            </div>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row mb-120 mb-md-0">
        <div class="col-sm-12 col-md-4">
          {% include "molecule-small-spot" with { title: 'Get the word out', text: 'Share your Referral Code via text, email & social.'  } %}
        </div>
        <div class="col-sm-12 col-md-4">
          {% include "molecule-small-spot" with { title: 'Earn $25 per friend', text: 'Earn a bonus for every friend who subscribes.' } %}
        </div>
        <div class="col-sm-12 col-md-4">
          {% include "molecule-small-spot" with { title: 'Friends get $25 too', text: 'Share the love and everyone wins.' } %}
        </div>
      </div>
    </div>
  </div>
  {% include 'organisms-two-button-sticky-footer' %}
{% endblock %}
