{% extends 'organisms-dashboard-container' %}

{% block dashboardContent %}

{% include 'organisms-referral-code' %}
{% include 'organisms-referral-invite-friends' %}
{% include 'organisms-referral-message' %}

<div class="text-center mt-5 referral-submit-button d-none">
  {% include 'atoms-button-icon-right-large' with { buttonLabel: 'Send', icon: 'arrow-right' } %}
</div>

{% endblock %}
