<div class="m-2" data-toggle="modal" data-target="#modal-long-distance-modal">
  <button class="btn btn-large">Long Distance Modal</button>
</div>

<div class="modal modal-slider fade" id="modal-long-distance-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered long-distance-modal" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <svg class="fi fi-24 fi-black">
              <use xlink:href="/images/icons/feather-sprite.svg#x" href="/images/icons/feather-sprite.svg#x"/>
            </svg>
        </button>
      </div>
      
      <div class="modal-body">
        <section class="lazy slider" data-sizes="">
            <div>
                <div class="mx-auto mb-3 text-center">
                  <h4 class="text-muted mb-0 pb-20">Zone 1 <br> Countries</h4>
                  <p class="mb-0">Pay per usage price is for all countries below in Zone 1!</p>
                </div>
                <div class="row my-40 justify-content-center">
                  <div class="col-10 col-sm-8 col-md-6 border-solid-black-1 border-radius-10 p-15">
                     <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Data</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$6</strong> /per Mb</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">SMS</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$0.75</strong> /per text</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Voice</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$0.03</strong> /per minutes</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-muted fs-12 fs-sm-16 mx-md-50">Afghanistan, Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Australia, Austria, Azerbaijan, The Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize</p>
                  </div>
                </div>
            </div>
            <div>
                <div class="mx-auto mb-3 text-center">
                  <h4 class="text-muted mb-0 pb-20">Zone 2 <br> Countries</h4>
                  <p class="mb-0">Pay per usage price is for all countries below in Zone 1!</p>
                </div>
                <div class="row my-40 justify-content-center">
                  <div class="col-10 col-sm-8 col-md-6 border-solid-black-1 border-radius-10 p-15">
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Data</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$6</strong> /per Mb</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">SMS</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$0.75</strong> /per text</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Voice</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$0.03</strong> /per minutes</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-muted fs-12 fs-sm-16 mx-md-50">Afghanistan, Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Australia, Austria, Azerbaijan, The Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize</p>
                  </div>
                </div>
            </div>
            <div>
                <div class="mx-auto mb-3 text-center">
                  <h4 class="text-muted mb-0 pb-20">Zone 3 <br> Countries</h4>
                  <p class="mb-0">Pay per usage price is for all countries below in Zone 1!</p>
                </div>
                <div class="row my-40 justify-content-center">
                  <div class="col-10 col-sm-8 col-md-6 border-solid-black-1 border-radius-10 p-15">
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Data</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$6</strong> /per Mb</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">SMS</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$0.75</strong> /per text</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Voice</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$0.03</strong> /per minutes</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-muted fs-12 fs-sm-16 mx-md-50">Afghanistan, Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Australia, Austria, Azerbaijan, The Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize</p>
                  </div>
                </div>
            </div>

          </section>
        {# <div id="carouselExampleControls" data-interval="false" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
          
            <div class="carousel-item active">

                <div class="mx-auto mb-3 text-center">
                  <h4 class="text-muted mb-0 pb-20">Zone 1 <br> Countries</h4>
                  <p class="mb-0">Pay per usage price is for all countries below in Zone 1!</p>
                </div>
                <div class="row my-40">
                  <div class="col-6 offset-3 border-solid-black-1 border-radius-10 fs-sm-10 p-10 p-md-20">
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Data</p>
                        <p class="mb-0">SMS</p>
                        <p class="mb-0">Voice</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$6</strong> /per Mb</p>
                        <p class="mb-0"><strong>$0.75</strong> /per text</p>
                        <p class="mb-0"><strong>$0.03</strong> /per minutes</p>
                      </div>
                    </div>
                       <div class="d-flex justify-content-around">
                          <p class="mb-0">Data</p>
                          <span><strong>$6</strong> /per Mb</span>
                      </div>
                      <div class="d-flex justify-content-around">
                          <p class="mb-0">SMS</p>
                          <span><strong>$0.75</strong> /per text</span>
                      </div>
                      <div class="d-flex justify-content-around">
                          <p class="mb-0">Voice</p>
                          <span><strong>$0.03</strong> /per minutes</span>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-muted mx-md-50">Afghanistan, Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Australia, Austria, Azerbaijan, The Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize</p>
                  </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="mx-auto mb-3 text-center">
                  <h4 class="text-muted mb-0 pb-20">Zone 2 <br> Countries</h4>
                  <p class="mb-0">Pay per usage price is for all countries below in Zone 1!</p>
                </div>
                <div class="row my-40">
                  <div class="col-6 offset-3 border-solid-black-1 border-radius-10 fs-sm-10 p-10 p-md-20">
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Data</p>
                        <p class="mb-0">SMS</p>
                        <p class="mb-0">Voice</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$6</strong> /per Mb</p>
                        <p class="mb-0"><strong>$0.75</strong> /per text</p>
                        <p class="mb-0"><strong>$0.03</strong> /per minutes</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-muted mx-md-50">Afghanistan, Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Australia, Austria, Azerbaijan, The Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize</p>
                  </div>
                </div>

            </div>

            <div class="carousel-item">
                <div class="mx-auto mb-3 text-center">
                  <h4 class="text-muted mb-0 pb-20">Zone 3 <br> Countries</h4>
                  <p class="mb-0">Pay per usage price is for all countries below in Zone 1!</p>
                </div>
                <div class="row my-40">
                  <div class="col-6 offset-3 border-solid-black-1 border-radius-10 fs-sm-10 p-10 p-md-20">
                    <div class="row">
                      <div class="col-4 pl-md-50">
                        <p class="mb-0">Data</p>
                        <p class="mb-0">SMS</p>
                        <p class="mb-0">Voice</p>
                      </div>
                      <div class="col-8">
                        <p class="mb-0"><strong>$6</strong> /per Mb</p>
                        <p class="mb-0"><strong>$0.75</strong> /per text</p>
                        <p class="mb-0"><strong>$0.03</strong> /per minutes</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <p class="text-muted mx-md-50">Afghanistan, Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Australia, Austria, Azerbaijan, The Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize</p>
                  </div>
                </div>
            </div>

          </div>
          <a class="carousel-control-prev background-none" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="fi-circle fi-circle-24 fi-circle-">
              <svg class="fi fi-24 fi-black">
                <use xlink:href="/images/icons/feather-sprite.svg#chevron-left" href="/images/icons/feather-sprite.svg#chevron-left"/>
              </svg>
            </span>
          </a>
          <a class="carousel-control-next background-none" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="fi-circle fi-circle-24 fi-circle-">
              <svg class="fi fi-24 fi-black">
                <use xlink:href="/images/icons/feather-sprite.svg#chevron-right" href="/images/icons/feather-sprite.svg#chevron-right"/>
              </svg>
            </span>
          </a>
        </div> #}

      </div>
      
    </div>
  </div>
</div>


