{% include "organisms-top-navigation-dropdown" %}
<div class="bg-lightest-gray pt-5">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 col-12">
        {% include "molecule-search-form-colored-image" %}
      </div>
    </div>
  </div>
</div>
{% include "organisms-spot-grid" %}
{% include "organisms-featured-articles" %}
{% include "organisms-hero-50-left-text"  with {'herobgcolor': 'transparent'} %}
{% include "organisms-hero-50-right-text" with {'herobgcolor': 'bg-fizz-dark-blue'} %}
{% include "organisms-pre-footer" %}
{% include "organisms-footer" %}
