<article data-history-node-id="675" role="article" class="contextual-region"  about="/en/faq/block-international-roaming">
  <div class="container">
    <h2 class="text-center">
      <span class="field field--name-title field--type-string field--label-hidden">Block international roaming</span>
    </h2>

    <div class="faq-author text-center mb-5">
      Posted 1 month 2 weeks ago by <span
          class="field field--name-uid field--type-entity-reference field--label-hidden"><a title="View user profile."
                                                                                            href="/en/user/3" lang=""
                                                                                            about="/en/user/3"
                                                                                            typeof="schema:Person"
                                                                                            property="schema:name"
                                                                                            datatype=""
                                                                                            class="username">xlith</a></span>
    </div>
  </div>
  <div class="container">
    <div class="help-steps-anchor-menu">
      <div class="help-step-anchor-item"><a href="#login-account">Login in to your account</a></div>
      <div class="help-step-anchor-item"><a href="#sel-profile">Select PROFILE.</a></div>
      <div class="help-step-anchor-item"><a href="#sel-blocking">Select Blocking.</a></div>
    </div>
  </div>

  <div>
    <div class="faq-items">

      <div
          class="field field--name-field-faq-paragraphs field--type-entity-reference-revisions field--label-hidden field__items">
        <div class="field__item">
          <div class="hero text-fullwidth py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <p>This is a test of a full-width text in a faq node</p>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="1">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="login-account">Login in to your account</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>Go to My T-Mobile and log in to your account.</p>

                  <p>In hac habitasse platea dictumst. Vivamus sollicitudin libero leo, ut vulputate lectus lobortis et.
                    Suspendisse risus magna, iaculis at orci vitae, congue interdum enim. Praesent eget sapien urna. Nam
                    eu egestas lorem. Morbi egestas in risus vel maximus. Morbi condimentum tellus fermentum augue
                    pellentesque blandit.</p>

                  <p class="help-box-yellow">Praesent neque nibh, dapibus vitae purus in, imperdiet mollis augue.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="private-help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">

            <div class="field field--name-field-help-step-title field--type-string field--label-hidden field__item">User
              Login
            </div>

            <div
                class="clearfix text-formatted field field--name-field-help-step-text field--type-text-long field--label-hidden field__item">
              <p>This is an example of a note for the support team when a ticket has been submit for this step</p></div>

          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="2">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-profile">Select PROFILE.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>Aliquam eu porta lorem. Donec commodo risus neque, a efficitur massa euismod vitae. Fusce varius
                    porttitor nisi. Phasellus eu neque metus. Nullam sodales magna sed metus bibendum, id pharetra neque
                    mattis. In hac habitasse platea dictumst. Sed sollicitudin felis tortor, et egestas dui pulvinar
                    id.</p>

                  <p class="help-box-green">Vestibulum id urna sit amet ipsum tincidunt placerat.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="field__item">
          <div class="help-step-wrapper py-5 w-100 container col-md-6 col-lg-4 col-sm-10">
            <ol class="instructions help-step" start="3">
              <li class="help-step-item">
                <div class="instruction-intro">
                  <h5 id="sel-blocking">Select Blocking.</h5>
                </div>
                <div class="instruction-body">
                  <p></p>
                  <p>To block/unblock international talk, text, and data roaming, select ON/OFF in the first option.<br>
                    If you only want to block/unblock international data roaming, select ON/OFF in the second option.
                  </p>

                  <p class="help-box-red">Note: ON means blocking is enabled; OFF means blocking is disabled.</p>
                  <p></p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        
      </div>

  </div>
  </div>
</article>
