<li class="media mb-3 py-3 border-bottom">
  <div class="media-body">
    <h5><a href="#">List-based media object</a></h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
    <div class="mb-2">
      {% include 'atoms-tag-purple' %}
      {% include 'atoms-tag-blue' %}
    </div>
  </div>
</li>