<div class="media flex-column flex-md-row py-3 col-12 col-lg-6"> 
  <div class="row align-items-center">
  
    <div class="col-12 col-md-3">
      <img class="d-block mx-auto mb-3 img-fluid rounded-circle" src="http://via.placeholder.com/125x125" alt="Generic placeholder image">
    </div>
  
    <div class="media-body col-12 col-md-9 text-center text-md-left">
      <h4>Data Rollover</h4>
      <p class="text-muted">That means you always keep what's yours. It's okay if you have more data than you need this month, whatever you don't use will be rolled over.</p>
    </div>
  
  </div>   
</div>