<div class="receipt-for-print pt-35 border-radius-20 px-0">
    <div class="">

        <div class="row">
            <div class="col-12 text-center">
                <img src="/images/fizz.svg" class="mb-50" width="110" alt="Logo">
            </div>
        </div>

        <div class="row px-80 mb-30 text-muted">
            <div class="col-md-6">
                <p class="mb-1"><strong>Date </strong>XX/XX/XXXX</p>
                <p class="mb-1"><strong>Time </strong>XX:XX:XX</p>
                <p class="mb-1"><strong>Order number </strong>XXXXXXXX</p>
            </div>
            <div class="col-md-6">
                <p class="mb-1"><strong>Card Number </strong>**** **** **** 4242</p>
                <p class="mb-1"><strong>Card Type </strong>Mastercard</p>
            </div>
        </div>

        <div class="row px-80 py-40 receipt-approved-grey">
            <div class="col-12">
                <h5>Approved</h5>
                <p class="text-muted mb-0"><strong>Authorization number: XXXXXXXX</strong></p>
            </div>
        </div>

        <div class="row px-80 py-40">
            <div class="col-12">
                <h4>Summary</h4>
                <hr>
                <div class="d-flex justify-content-between mt-30">
                    <h6 class="mb-0">Your monthly plan</h6>
                    <span><strong>$XX</strong></span>
                </div>
                <div class="d-flex justify-content-between text-muted mt-20">
                    <span>Item 1</span>
                    <span>$XX</span>
                </div>
                <div class="d-flex justify-content-between text-muted mt-20">
                    <span>Item 2</span>
                    <span>$XX</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mt-20">
                    <h6 class="mb-0">T911</h6>
                    <span><strong>$XX</strong></span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mt-20">
                    <h6 class="mb-0">Custom phone number</h6>
                    <span><strong>$XX</strong></span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mt-20">
                    <span>
                        <h6 class="mb-1">Credit</h6>
                        <p class="text-muted font-italic mb-0">(Remaining Credit: $6)</p>
                    </span>
                    <span><strong>$XX</strong></span>
                </div>
                <div class="d-flex justify-content-between position-relative mt-20">
                    <h6 class="bg-white pr-10 mb-0" style="z-index: 1">Subtotal</h6>
                    <span class="bg-white pl-10" style="z-index: 1">$XX</span>
                    <hr class="border-lighter-gray position-absolute w-100">
                </div>
                <div class="d-flex justify-content-between position-relative mt-20">
                    <h6 class="bg-white pr-10 mb-0" style="z-index: 1">TPS</h6>
                    <span class="bg-white pl-10" style="z-index: 1">$XX</span>
                    <hr class="border-lighter-gray position-absolute w-100">
                </div>
                <div class="d-flex justify-content-between position-relative mt-20">
                    <h6 class="bg-white pr-10 mb-0" style="z-index: 1">TVQ</h6>
                    <span class="bg-white pl-10" style="z-index: 1">$XX</span>
                    <hr class="border-lighter-gray position-absolute w-100">
                </div>
                <div class="tax-label mt-20 p-0">
                    <span class="pr-4">TPS XXXX XXXX</span>TVQ XXXX XXXX
                </div>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <h4 class="p<rice-status-total text-left">Total</h4>
                    <h2 class="price-status-value"><span class="dollar-sign align-middle">$</span>69<span class="per-month">per month</span></h2>
                </div>
            </div>
        </div>
    <div class="col-12 text-center mt-30 mb-30">
        <button type="button" class="btn btn-primary btn-lg mb-0">Print a receipt</button>
    </div>
        <p class="copy pt-3 pb-3 text-center text-muted"><small>Fizz. xxx Street, Suite xxx, Montreal, QC H2N354</small></p>
    </div>
</div>

<style type="text/css">
{# Need to be added START #}

{#  Need to be added END #}

{# Already exist START #}
.px-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.pt-35 {
    padding-top: 35px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.fs-12 {
    font-size:12px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

{# Already exist #}
</style>