<table class=default_table>
  <tbody>
    <tr>
      <th>Activating your SIM</th>
      <th>Activating your SIM</th>
      <th>Activating your SIM</th>
    </tr>
    <tr>
      <td>Insert your SIM into your phone and switch it on. You may have a new Trio SIM or a regular single SIM. Please see the link below for more details.</td>
      <td>We'll text you to let you know we've started activating your SIM. Make sure you keep your phone switched on whilr we connect you to the Three network. This should only take about 30 minutes but during busy periods it may take longer.</td>
      <td>
        <ul>
          <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          <li>sed dot labore et dolore magna aliqua.</li>
          <li>sed do eiusmod tempor incididunt ut magna aliqua.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Insert your SIM into your phone and switch it on. You may have a new Trio SIM or a regular single SIM. Please see the link below for more details.</td>
      <td>We'll text you to let you know we've started activating your SIM. Make sure you keep your phone switched on whilr we connect you to the Three network. This should only take about 30 minutes but during busy periods it may take longer.</td>
      <td>Lorem ipsum dolor sit amet, consectetur incididunt ut labore et dolore magna aliqua.</td>
    </tr>
    <tr>
      <td>Insert your SIM into your phone and switch it on. You may have a new Trio SIM or a regular single SIM. Please see the link below for more details.</td>
      <td>We'll text you to let you know we've started activating your SIM. Make sure you keep your phone switched on whilr we connect you to the Three network. This should only take about 30 minutes but during busy periods it may take longer.</td>
      <td>We'll send you a second text telling you to turn your phone off and on again.</td>
    </tr>

  </tbody>
</table>
