<div class="container mt-50">
    <div class="card card-normal mb-50">
    <div class="card-section card-header px-3 px-md-5 pt-4">
      <div class="d-flex align-items-center justify-content-between justify-content-lg-start">
        <div>
          <h4>Travel pass</h4>
          <p class="text-muted">(514) 423-4567</p>
        </div>   
        <div class="pl-md-50">
          <h4>$35.00</h4>
          <p class="text-muted">
            {% include 'atoms-icon-16' with { icon:'clock' } %}
            <strong>3 days</strong> left
          </p>
        </div>
        <div class="d-none d-lg-flex ml-auto">
          {% include 'atoms-button-outline' with{ buttonLabel:'Invoices',buttonSize:'xl'} %}
        </div>
      </div>
    </div>
    
    <div class="card-section card-body d-flex px-2 px-md-5">
      <div class="col-lg-8 py-4 mx-auto">
        {% include 'organisms-progress-with-links' with { numberStatus:'dark', gradientcolor:'green',progressValueLabel:'6' ,progressValueProduct:'7 Gigs of data' } %}
      </div>
    </div>
    
    <div class="card-section card-body px-2 px-md-5 d-flex d-lg-none justify-content-center align-items-center">
      {% include 'atoms-button-outline' with{ buttonLabel:'Invoices',buttonSize:'xl'} %}
    </div>
  </div>
  
  <div class="card card-normal mb-50">
    <div class="card-section card-header px-3 px-md-5 pt-4">
      <div class="d-flex align-items-center justify-content-between justify-content-lg-start">
        
        <div>
          <h4>John D.</h4>
          <p class="text-muted">(514)423-4567</p>
        </div>
        <div class="pl-md-50">
          <h4>$35.00</h4>
          <p class="text-muted">
            {% include 'atoms-icon-16' with { icon:'clock' } %}
            <strong>3 days</strong> left
          </p>
        </div>
        <div class="d-none d-lg-flex ml-auto">
          {% include 'atoms-button' with{ buttonLabel:'Manage',buttonSize:'xl', classes:'ml-3'} %}
          {% include 'atoms-button-outline' with{ buttonLabel:'Invoices',buttonSize:'xl', classes:'ml-3'} %}
        </div>

      </div>
    </div>

    <div class="card-section card-body px-3 px-md-5">
      <div class="row">

        <div class="col-lg py-4">
          {% include 'organisms-progress-with-links' with { numberStatus:'dark', gradientcolor:'green',progressValueLabel:'6' ,progressValueProduct:'7 Gigs' } %}
        </div>

        <div class="col-lg py-4">
          {% include 'organisms-progress-with-links' with { numberStatus:'dark', gradientcolor:'green',progressValueLabel:'100' ,progressValueProduct:'600 min.' } %}
        </div>

        <div class="col-lg py-4">
          <div class="sms-unlimited-container py-3 text-center">
              <h4 class="d-inline-flex text-green">Unlimited</h4>
              <p class="text-muted d-inline-block d-lg-block d-xl-inline-block"><span class="display-2">/</span>SMS</p>
            <div class="text-center">
              {% include'atoms-icon' with {size:'48', origin:'symetris-svg.svg',icon:'infinite', classes:'stroke-light-gray fill-light-gray'} %}
              <div>
                <a href="#" class="link">Usage</a>
              </div>
            </div>
          </div> 
        </div>
      
      </div>
    </div>
    
    <div class="card-section card-body px-2 px-md-5 d-flex d-lg-none justify-content-center align-items-center">
      {% include 'atoms-button' with{ buttonLabel:'Manage',buttonSize:'xl', classes:'mx-2'} %}
      {% include 'atoms-button-outline' with{ buttonLabel:'Invoices',buttonSize:'xl', classes:'mx-2'} %}
    </div>
  </div>
</div>