<div class="container author-info-block py-5">
  <div class="row">
    <div class="col col-lg-8 offset-lg-2">

      {% include 'molecule-author-social-links' %} 

      <img src="http://via.placeholder.com/75x75" class="rounded-circle d-block mx-auto">
      
      <div class="author-description pt-5">
        <h6 class="text-center">José Torre</h6>
        <p class="text-center">Design lover and problem solver. Working as Sr. Visual Designer</p>
      </div>
    </div>
  </div>
</div>