<div class="container">
  <h3>Related</h3>
  <ul class="list-unstyled">
    {% include 'molecule-media-object-text' %}
    {% include 'molecule-media-object-text' %}
    {% include 'molecule-media-object-text' %}
  </ul>
</div>