<h3 class="mb-5">Replies</h3>

<ul class="list-unstyled">
  {% include 'molecule-discussion-comment' %}
  {% include 'molecule-discussion-comment' %}
  {% include 'molecule-discussion-comment' %}
</ul>