<div class="container">
  <div class="row">
    {% include 'molecule-small-spot-media-object' %}
    {% include 'molecule-small-spot-media-object' %}
    {% include 'molecule-small-spot-media-object' %}
    {% include 'molecule-small-spot-media-object' %}
  </div>
</div>