<div class="input-group input-group-lg">
  <input type="number" pattern="[0-9]*" class="form-control" placeholder="Your activation code." aria-label="Your activation code" aria-describedby="activationCode">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-{{ uniqueID|default('uniqueID') }}" aria-expanded="false">Next</button>
  </div>
</div>