<button type="button" class="btn btn-primary" data-toggle="collapse" data-action="next-step" data-target=".activation-collapse-{{ uniqueID|default('uniqueID')}}" aria-expanded="false">
  <div class="d-flex">
    <span>{{ buttonLabel }}</span>
  </div>
</button>