<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <svg class="fi fi-24 fi-white">
        <use xlink:href="/images/icons/feather-sprite.svg#x" href="/images/icons/feather-sprite.svg#x"/>
    </svg>
</button>