<button type="button" class="btn btn-green">{{ buttonLabel }}</button>
<button type="button" class="btn btn-red">{{ buttonLabel }}</button>
<button type="button" class="btn btn-electric-purple">{{ buttonLabel }}</button>
<button type="button" class="btn btn-yellow">{{ buttonLabel }}</button>